*{
    outline:none!important;

}
.wrapper{
/*    width: 1344px;*/
/*    outline: 1px solid red;*/
}
.header_div{
    height: 73px;
    outline: 1px solid red;
      background-color: #fff;
}
.logo_div{
  width: 350px;
  display: inline-block;
}
.menu_div{
  margin-right: 110px;
  display: inline-block;
}
.lang_div{
  display: inline-block;
  margin-left: 80px;
  margin-bottom: 24px;
}
.logo_div img{
  position: absolute;
  top: 25px;
  left: 105px;  
}
.menu_div li{
    float: left;
    list-style: none;
    margin: 0px 0px 25px 25px;
}
.menu_div a{
    text-decoration: none;
    font-size: 13px;
    font-family: tahoma;
    text-transform: uppercase;
    color: #333333;
}
.lang_div a{
      background-image: url(../image/exp-ic.jpg);
      background-repeat: no-repeat;
      padding-right: 20px;
      background-position: 42px 25px;
      text-decoration: none;
      font-size:13px; 
      color: #999999;
}
.main_div{
    background-image: url(../image/Layer-50.jpg);
    background-repeat: no-repeat;
}
.zag1{
  font-family: tahoma;
  font-size: 42px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 17px 10px 17px;
  display: inline-block;
  background-color: #1b1f22;
  margin-left: 271px;
  margin-top: 115px;
  margin-bottom: 0px;
}
.zag2{
  font-family: tahoma;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 17px 10px 17px;
  display: inline-block;
  background-color: #1b1f22;
  margin-left: 359px;
  margin-top: 3px;
}
.btn{
  width: 292px;
  height: 44px;
  display: block;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  margin-left: 538px;
  margin-top: -10px;
  font-size: 14px;
  font-family: tahoma;
  text-transform: uppercase;
  color: #fff;
  background-image: url(../image/eee.png);
  background-repeat: no-repeat;
  background-position: 33px 13px;
}
.second_menu{
/*    width: 1343px;*/
    margin-top: 134px;
    margin-left: 66px;
    height: 93px;

}
.second_menu li{
  float: left;
  list-style: none;

  text-transform: uppercase;
  margin-right: 2px;
  font-weight: bold;
  font-family: tahoma;
  font-size: 13px;
}
.second_menu a{
    text-decoration: none;
    color: #333333;
      padding: 17px 52px;
  background-color: #FFF;
}
.second_menu a:hover{
  background-color: #000;
  color: #fff;
}
.orange-white{
    width: 1140px;
    height: 61px;
    background-color: #fff;
}
.orange{
    height: 61px;
    width: 570px;
    float: left;
    background-image: url(../image/orange.png);
    background-repeat: no-repeat;
}
.white{
    height: 61px;
    width: 570px;
    float: left;
}
.other_info{
    padding: 0px 104px;
    background-color: #f3f3f3;
}
.surprise{
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 18px;
  margin: 13px 0px 0px 46px;
  background-image: url(../image/surp.png);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  display: inline-block;
    float: left;
}
.orange p{
    color: #fff;
    font-size: 14px;
    font-family: tahoma;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 119px;
    margin-top: 22px;
}
.white p{
    color: #555555;
    font-size: 14px;
    font-family: tahoma;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 119px;
    margin-top: 22px;
}
.text_div{
    padding-top: 65px;
    outline: 1px solid red;
    overflow: hidden;
    padding-bottom: 60px;
    width: 1136px;
}
.left_text{
    width: 568px;
    float: left;
     outline: 1px solid red;

}
.right_text{
    width: 568px;
    float: left;
    outline: 1px solid red;
}
.text_div h4{
    color: #444444;
    font-size: 13px;
    font-family: tahoma;
}
.text_div {
    color: #999999;
    font-size: 13px;
    font-family: tahoma;
}
.silka a{
    color: #ff4700;
    text-decoration: none;
}
.footer_div{
/*    outline: 1px solid red;*/
    background-color: #939494;
/*      width: 1344px;*/
}
.f_div1{
    overflow: hidden;
    border: 1px solid #a6a6a6;
}
.f_div2{
    overflow: hidden;
}
.des{
  font-family: tahoma;
  font-size: 11px;
  color: #eeeeee;
  margin-left: 113px;
    float: left;
}
.creativin{
	color: #fff;
	font-family:Bebasneuebold;
	font-size: 20px;
    float: left;
      margin: 5px 0px 0px 10px;
}
.des2{
  font-family: tahoma;
  font-size: 11px;
  color: #eeeeee;
  margin-right: 113px;
  float: right;
}
.becker{
  width: 245px;
  margin-left: 114px;
  margin-bottom: 15px;
  display: inline-block;
  overflow: hidden;
}
.becker img{
    float: left;
    margin-right: 5px;
}
.becker p{
    font-family: tahoma;
    font-size: 11px;
    color: #fff;
      margin-top: 0px;
}
.for_a{
  overflow: hidden;
  margin-left: 45px;
  margin-bottom: 24px;
  display: inline-block;
}
.for_a a{
    color: #fff;
    font-family: tahoma;
    font-size: 12px;
    text-decoration: none;
    margin-right: 60px;
    text-transform: uppercase;
}
.for_info{
  margin-right: 25px;
  display: inline-block;
  overflow: hidden;
}
.for_info p{
      padding: 15px 10px 15px 40px;
    float: left;
     color: #fff;
    font-family: tahoma;
    font-size: 12px;
}
.phone{
    background-image: url(../image/phone.png);
    background-repeat: no-repeat;
      background-position: 2px 9px;
}
.letter{
    background-image: url(../image/letter.png);
    background-repeat: no-repeat;
      background-position: 2px 9px;
}
.facebook{
  border-left: 1px solid #999999;
  overflow: hidden;
  border-right: 1px solid #999999;
  display: inline-block;
  padding: 30px 15px 25px 27px;
}
.facebook a{
  font-family: tahoma;
  font-size: 12px;
  color: #fff;
  padding: 10px 20px;
  background-color: #3a5795;
      text-align: center;
    text-decoration: none;
}
.gir{
    font-weight: bold;
    word-spacing: 5px;
}
.carousel_div{
 background-color: #f3f3f3;
}
body{
 background-color: #f3f3f3;
}
.lang_div li{
    list-style: none;
}
.lang_div ul{
    padding: 0px;
    margin: 0px;
    font-family: tahoma;
}



/*язикова панель*/

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
  display: block;
  padding: 20px 31px 37px 20px;
  text-decoration: none;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 68px;
    top: 73px;
    left: 1px;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 23px;
    text-decoration: none;
    background-image: none;
    background-color: #8c8d8d;
    color:#fff;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}
/*кінець язикової панелі*/
/*головне випадаюче меню*/
ul.menu2 > li {
    float: left;
    position: relative;
}

ul.menu2 > li > a {
    display: block;
    padding: 39px 10px 16px 10px;
    text-decoration: none;
}

ul.submenu2 {
  display: none;
  position: absolute;
  width: 1344px;
  top: 73px;
  left: -376px;
  background-color: #8c8d8d;
  padding-top: 20px;
}

ul.submenu2 > li {
    display: block;
}

ul.submenu2 > li > a {
    display: block;
    padding: 23px 8px 23px 0px;
    text-decoration: none;
    background-image: none;
    background-color: #8c8d8d;
    color:#fff;
}

ul.submenu2 > li > a:hover {
    text-decoration: underline;
}
ul.submenu2 > li > a:hover {
    text-decoration: underline;
}

ul.menu2 > li:hover > ul.submenu2 {
    display: block;
}
ul.menu2 > li > a:hover {
    color:red;
    border-bottom: 2px solid red;
    background-color: #8c8d8d;
}

ul.menu > li > a:hover {
    color:#fff;
    border-bottom: 2px solid red;
    background-color: #8c8d8d;
}
/*кінець головного випадаючого меню*/


@media screen and (max-width: 768px){

.footer_div {
    padding: 10px;
    width: 740px;
}
    
.becker {
    margin-left: 15px;
}
    
.for_a {
    margin-left: 101px;
}
    

.header_div {
    padding: 0 10px;
    width: 740px;
}  
    .logo_div {
    width: 295px;
}
    .menu_div {
    width: 295px;
}
    .menu_div li {
    margin: -46px 0 23px 25px;
}

    
ul.menu2 > li > a {
    padding: 50px 0 0;
}
  ul.menu2 > li:hover > ul.submenu2 {
    display: none;
}  
   .menu_div li {
    margin: -16px 0 23px 25px;
} 
    
ul.menu2 > li > a {
    padding: 20px 0 0;
}
    .zag1 {
    margin-left: 5px;
    width: 700px;
        text-align: center;
}
   .zag2 {
    margin-left: 43px;
} 
    
.btn {
    margin-left: 250px;
}
    .second_menu {
    height: 93px;
    margin-left: 61px;
    margin-top: 33px;
}
    
.second_menu li {
    margin-bottom: 46px;
    margin-right: 2px;
}
    
.second_menu a {
    padding: 20px 7px;
}
    
.other_info {
     padding: 0 5px;
}
    .orange-white {
    width: 740px;
}
    
.orange {
    width: 380px;
}
    
.white {
    width: 340px;
}
    .text_div {
    width: 740px;
}
    
.left_text {
    width: 740px;
}
.right_text {
    width: 568px;
}

    


}

