@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url("../fonts/MYRIADPROREGULAR.ttf");
}
*{
outline: 0 none !important;}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ///////////////////////////////////////////////////////////////
*/
.bg{
/*
    width: 1280px;
    height: 1307px;
    background: linear-gradient(to top, #c8c2bb, #beb8af) repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    outline: 1px solid red;
*/
    background: linear-gradient(to top, #c8c2bb, #beb8af) repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
}
.bg_footer{
/*
    width: 1280px;
    height: 53px;
    background-color: #212121;
    margin: 0 auto;
    outline: 1px solid red;
*/
    background-color: #212121;
    margin: 0 auto;
}
.wrapper{
    margin: 0 auto;
    overflow: hidden;
    width: 924px;
}
.wrapper_footer{
    outline: 1px solid red;
    height: 53px;
    width: 924px;
    margin: 0 auto;
}
.logo_div{
     width: 924px;
    margin: 0 auto;
    height: 122px
/*
    height: 104px;
    float: left;
*/
}
.main_menu{
/*outline: 1px solid red;*/
/*    height: 62px;*/
/*    width: 924px;*/
/*    float: left;*/
/*    background-image: url(../image/strelka.png);*/
  padding-bottom: 20px;
}
.main_news{
    outline: 1px solid red;
    float: left;
    width: 629px;
/*    height: 1079px;*/
}
.second_news{
    outline: 1px solid red;
/*    width: 283px;*/
/*    height: 1079px;*/
    float: right;
}
.welcome{
    outline: 1px solid red;
/*
    height: 408px;
    width: 629px;
    float: left;
*/
}
.products{
   outline: 1px solid red;
/*    height: 663px;*/
/*    width: 629px;*/
    margin-top: 10px;
    float: left;

}

.four_news {
    background-color: #dfdad6;
    border: 1px solid #78a22f;
    border-radius: 5px;
    overflow: hidden;
    width: 283px;
}

.blue_bird {
    background-color: #e1deda;
    border: 1px solid #78a22f;
    border-radius: 5px;
    margin-top: 13px;
    overflow: hidden;
    width: 284px;
}

.our_services {
    background-color: #e1deda;
    border: 1px solid #78a22f;
    border-radius: 5px;
    margin-top: 37px;
    overflow: hidden;
    padding-bottom: 14px;
}
.you_cool{
    float: left;
    padding-top: 44px;
}
.you_greats{
/*
    outline: 1px solid red;
    width: 155px;
    height: 102px;
*/
    float: right;

}

.menu {
    background: linear-gradient(to top, #68981b, #cfed7a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #59830a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    height: 36px;
    outline: 1px solid red;
    overflow: hidden;
    padding-left: 50px;
}
.welcome_img{
/*
    outline: 1px solid red;
    width: 629px;
*/
/*   height: 291px;*/
/*    float: left;*/
    position: relative;
}
.welcome_txt{
    background-color: #1c273d;
    outline: 1px solid red;
    padding: 14px 37px 20px 22px;
/*   outline: 1px solid red;*/
/*    width: 570px;*/
/*    height: 103px;*/
/*    float: left;*/
/*    background-color: #1c273d;*/
/*    padding: 14px 37px 0px 22px;*/
}
.small_product {
    background-color: #e1ddd9;
    border: 1px solid #78a22f;
    border-radius: 5px;
    outline: 1px solid red;
    overflow: hidden;
}
.four_products {
    border: 1px solid #78a22f;
    border-radius: 5px;
    outline: 1px solid red;
    overflow: hidden;
}

.us1 {
    background-color: #e1ddd9;
    overflow: hidden;
    padding: 20px 0 5px 16px;

}
.us2 {
    background-color: #edeae7;
    overflow: hidden;
    padding: 18px 0 17px 16px;
}

.us3 {
    background-color: #e1ddd9;
    overflow: hidden;
    padding: 15px 0 17px 16px;
}

.us4 {
    background-color: #edeae7;
    overflow: hidden;
    padding: 16px 0 17px 16px;
}

.news1{
/*
    outline: 1px solid red;
    float: left;
    height: 127px;
    width: 283px;
*/
}
.news2{
/*
    outline: 1px solid red;
    float: left;
    height: 127px;
    width: 283px;
*/
}
.news3{
/*
    outline: 1px solid red;
    float: left;
    height: 127px;
    width: 283px;
*/
}
.news4{
/*
    outline: 1px solid red;
    float: left;
    height: 127px;
    width: 283px;
*/
}
.zagolovok{
  outline: 1px solid red;
       width: 283px;
    height: 55px;
    float: left;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: 15px -31px;
  
}
.integrity{
    outline: 1px solid red;
    height: 53px;
/*    width: 290px;*/
    float: left;
}
.footer_list{
    outline: 1px solid red;
    float: right;
}
.integrity p{
    color: #9c9c9c;
    font-family: Arial;
    font-size: 10px;
    line-height: 57px;
    float: right;
    text-transform: uppercase;
}
.footer_list li{
    float: left;
    color: #4f7018;
    font-size: 10px;
    font-family: Arial;
    padding-left: 23px;
    line-height: 57px;
}
.footer_list a{
    text-decoration: none;
     color: #4f7018;

}
.footer_list .first{
    padding-left: 0px;

}
.footer_list a:hover{
    color: #9bc133;

}
.you_cool p{
    font-family: MYRIADPROREGULAR;
    font-size: 36px;
    font-weight: bold;
    line-height: 114px;
    padding-left: 2px;
    color: #4b4130;
}

.div_icon{
    outline: 1px solid red;
    width: 160px;
    height: 70px;
    float: left;

}
.div_subtitle p{
    color: #6a9a1d;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
    padding-left: 4px;
}
.you_greats p{
    font-size: 14px;
    font-style: italic;
    color: #91897c;
    line-height: 115px;
    font-family: Arial;
    font-weight: bold;
}
.menu li{
   color: #fff;
    float: left;
    font-family: MYRIADPROREGULAR;
    font-size: 14px;
    line-height: 38px;
    margin-right: 71px;
    padding-bottom: 10px;
}

.welcome_txt p{
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
}
.abs_div {
    left: 0;
    padding-left: 29px;
    padding-top: 27px;
    position: absolute;
    top: 0;
    width: 255px;
}
.abs_div h1{
    color: #c0c0be;
    font-size: 49px;
    font-family: MYRIADPROREGULAR;
}
.abs_div p{
    color:#c0c0be;
    font-size: 14px;
    font-family: Arial;
    line-height: 18px;
}

.pro {
    float: left;
    outline: 1px solid red;
    padding-left: 19px;
}

.new_date {
    float: left;
    padding-left: 15px;
}
.pro p{
    color: #695e4a;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
}
.new_date p{
    color: #b4aea6;
    font-family: Arial;
    font-size: 10px;
    font-style: italic;
    line-height: 44px;

}
.yellow_kv{
    outline: 1px solid red;
    height: 43px;
    width: 43px;
    float: right;
     background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: 4px 3px;
}
.black_div{
    outline: 1px solid red;
    width: 163px;
    height: 121px;    
    float: left;
    background-color: #000;
    position: relative;
    border: 1px solid #c4bdb2;

}

.text_div {
    float: right;
    outline: 1px solid red;
    overflow: hidden;
    width: 428px;
}
.tue{
/*
    outline: 1px solid red;
    height: 10px;
    width: 99%;
    float: left;
    padding-left: 5px;
*/
}
.tue p{
    color:#695e4a;
    font-size: 10px;
    font-style: italic;
    font-family: Arial;


}
.bea{
/*
     outline: 1px solid red;
    height: 20px;
   width: 330px;
    float: left;
*/
}
.bea p{
    color:#695e4a;
    font-family: Arial;
    font-size: 14px;


}
.us{
/*
   outline: 1px solid red;
    height: 40px;
    width: 99%;
    float: left;
    padding-left: 3px;
    line-height: 55px; 
*/
    height: 40px;
    line-height: 55px;
}
.end{
/*
    outline: 1px solid red;
    height: 10px;
    width: 100%;
    float: left;  
*/
}
.buttons{
/*
  outline: 1px solid red;
height: 25px;
width: 100%;
float: left;
*/
margin-top: 17px;
display: inline-block;
background: linear-gradient(to top, #68981b, #cfed7a) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-radius: 5px;

}
.bea .green{
    color:#78a22f;
}
.bea a{
    text-decoration: underline;
     color:#695e4a;

}
.us p{
    color: #3b3427;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}
.end p{
    color: #b0a899;
    font-size: 10px;
    font-family:Arial;
}
.white_div{
    outline: 1px solid red;
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -7px -109px;
}
.otp{
width: 140px;
height: 23px;
background-image: url(../image/sprite.png);
float: left;
background-position: -6px -84px;
/*    background: linear-gradient(to top, #68981b, #cfed7a) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
     border-radius: 0 5px 5px 0;
    border: 1px solid #619900;
    border-left: 1px solid #9fb06e;
    color: #fff;
font-family: Arial;
font-size: 11px;
font-weight: bold;
    padding-left: 21px;
     background-color: transparent;

}
.add{
    height: 23px;
    width: 77px;
    background-image: url(../image/sprite.png);
    float: left;
    background-position: -6px -140px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #619900;
    border-right: 1px solid #c4d89c;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding-left: 20px;
    background-color: transparent;

}

.for_black {
    float: right;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 43px;
}
.black{
height: 80px;
width: 80px;
background-color: #000;
    border: 1px solid #c4bdb2;
}

.for_txt {
    float: left;
    outline: 1px solid red;
    padding: 20px 0 0 14px;
    width: 164px;
}
.for_txt h1{
    color: #695e4a;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 1px;
}
.for_txt p{
    font-family: Arial;
    font-size: 11px;
    color: #3b3427;
    padding-top: 12px;
    line-height: 12px;
}
.four_days{
   font-family: Arial;
   font-size: 9px;
    color:#b7a88e;
}
.follow{
  color: #78a22f;
font-size: 11px;
font-family: Arial;
line-height: 48px;
padding-left: 65px;


}
.zagolovok h1{
    height: 12px;
      padding-left: 65px;
    line-height: 47px;
    color: #695e4a;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}
.ico_txt p{
color: #3b3427;
font-family: Arial;
font-size: 12px;
line-height: 18px;

}
.ico_txt{
outline: 1px solid red;
width: 227px;
height: 305px;
float: left;
padding: 11px 35px 0px 22px;
overflow: auto;
}
.YSH{
    outline: 1px solid red;
    height: 20px;
    width: 102px;
    float: left;
}
.YSH a{
    text-decoration: none;
    color: #9f9f9f;
    font-family: Arial;
    font-size: 10px;
    padding-left: 20px;
}
.you_cool img{

    margin-left: 5px;

}
.bgup{
    background-color: #d1ccc6;


}
.main_menu li:hover{
    background-image: url("../image/strelka.png");
    background-position: 50% 37px;
    background-repeat: no-repeat;
}
.menu a{
    text-decoration: none;
    color: #fff;

}


@media screen and (max-width: 768px){

.logo_div {
    padding: 0 10px;
    width: 748px;
}

.wrapper {
    padding: 0 10px;
    width: 748px;
}
    .menu {

    padding-left: 15px;
}
    .menu li {

    margin-right: 50px;
 }

.welcome_img > img {
    width: 748px;
}
    .products {

    width: 748px;
}
    .text_div {
    overflow: hidden;
    padding-left: 10px;
    float: left;
}
    
.four_news {
    float: left;
    margin-top: 13px;
    width: 340px;
    margin-right: 63px;
 }
    
.second_news {
    float: left;

}
    


.our_services {
    display: none;

}
    .ico_txt {
    height: 414px;
}
.blue_bird {
     float: right;
    width: 339px;
}

.main_news {
    width: 748px;
}
.wrapper_footer {

    padding: 0 10px;
    width: 748px;
}
    
.footer_list li {
    padding-left: 8px;
}








}