/* line 13, ../sass/_grid.scss */
.grid, .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 20, ../sass/_grid.scss */
.grid_1 {
  width: 60px;
}

/* line 26, ../sass/_grid.scss */
.prefix_1 {
  padding-left: 80px;
}

/* line 30, ../sass/_grid.scss */
.suffix_1 {
  padding-right: 80px;
}

/* line 37, ../sass/_grid.scss */
.push_1 {
  left: 80px;
}

/* line 41, ../sass/_grid.scss */
.pull_1 {
  left: -80px;
}

/* line 20, ../sass/_grid.scss */
.grid_2 {
  width: 140px;
}

/* line 26, ../sass/_grid.scss */
.prefix_2 {
  padding-left: 160px;
}

/* line 30, ../sass/_grid.scss */
.suffix_2 {
  padding-right: 160px;
}

/* line 37, ../sass/_grid.scss */
.push_2 {
  left: 160px;
}

/* line 41, ../sass/_grid.scss */
.pull_2 {
  left: -160px;
}

/* line 20, ../sass/_grid.scss */
.grid_3 {
  width: 220px;
}

/* line 26, ../sass/_grid.scss */
.prefix_3 {
  padding-left: 240px;
}

/* line 30, ../sass/_grid.scss */
.suffix_3 {
  padding-right: 240px;
}

/* line 37, ../sass/_grid.scss */
.push_3 {
  left: 240px;
}

/* line 41, ../sass/_grid.scss */
.pull_3 {
  left: -240px;
}

/* line 20, ../sass/_grid.scss */
.grid_4 {
  width: 300px;
}

/* line 26, ../sass/_grid.scss */
.prefix_4 {
  padding-left: 320px;
}

/* line 30, ../sass/_grid.scss */
.suffix_4 {
  padding-right: 320px;
}

/* line 37, ../sass/_grid.scss */
.push_4 {
  left: 320px;
}

/* line 41, ../sass/_grid.scss */
.pull_4 {
  left: -320px;
}

/* line 20, ../sass/_grid.scss */
.grid_5 {
  width: 380px;
}

/* line 26, ../sass/_grid.scss */
.prefix_5 {
  padding-left: 400px;
}

/* line 30, ../sass/_grid.scss */
.suffix_5 {
  padding-right: 400px;
}

/* line 37, ../sass/_grid.scss */
.push_5 {
  left: 400px;
}

/* line 41, ../sass/_grid.scss */
.pull_5 {
  left: -400px;
}

/* line 20, ../sass/_grid.scss */
.grid_6 {
  width: 460px;
}

/* line 26, ../sass/_grid.scss */
.prefix_6 {
  padding-left: 480px;
}

/* line 30, ../sass/_grid.scss */
.suffix_6 {
  padding-right: 480px;
}

/* line 37, ../sass/_grid.scss */
.push_6 {
  left: 480px;
}

/* line 41, ../sass/_grid.scss */
.pull_6 {
  left: -480px;
}

/* line 20, ../sass/_grid.scss */
.grid_7 {
  width: 540px;
}

/* line 26, ../sass/_grid.scss */
.prefix_7 {
  padding-left: 560px;
}

/* line 30, ../sass/_grid.scss */
.suffix_7 {
  padding-right: 560px;
}

/* line 37, ../sass/_grid.scss */
.push_7 {
  left: 560px;
}

/* line 41, ../sass/_grid.scss */
.pull_7 {
  left: -560px;
}

/* line 20, ../sass/_grid.scss */
.grid_8 {
  width: 620px;
}

/* line 26, ../sass/_grid.scss */
.prefix_8 {
  padding-left: 640px;
}

/* line 30, ../sass/_grid.scss */
.suffix_8 {
  padding-right: 640px;
}

/* line 37, ../sass/_grid.scss */
.push_8 {
  left: 640px;
}

/* line 41, ../sass/_grid.scss */
.pull_8 {
  left: -640px;
}

/* line 20, ../sass/_grid.scss */
.grid_9 {
  width: 700px;
}

/* line 26, ../sass/_grid.scss */
.prefix_9 {
  padding-left: 720px;
}

/* line 30, ../sass/_grid.scss */
.suffix_9 {
  padding-right: 720px;
}

/* line 37, ../sass/_grid.scss */
.push_9 {
  left: 720px;
}

/* line 41, ../sass/_grid.scss */
.pull_9 {
  left: -720px;
}

/* line 20, ../sass/_grid.scss */
.grid_10 {
  width: 780px;
}

/* line 26, ../sass/_grid.scss */
.prefix_10 {
  padding-left: 800px;
}

/* line 30, ../sass/_grid.scss */
.suffix_10 {
  padding-right: 800px;
}

/* line 37, ../sass/_grid.scss */
.push_10 {
  left: 800px;
}

/* line 41, ../sass/_grid.scss */
.pull_10 {
  left: -800px;
}

/* line 20, ../sass/_grid.scss */
.grid_11 {
  width: 860px;
}

/* line 26, ../sass/_grid.scss */
.prefix_11 {
  padding-left: 880px;
}

/* line 30, ../sass/_grid.scss */
.suffix_11 {
  padding-right: 880px;
}

/* line 37, ../sass/_grid.scss */
.push_11 {
  left: 880px;
}

/* line 41, ../sass/_grid.scss */
.pull_11 {
  left: -880px;
}

/* line 20, ../sass/_grid.scss */
.grid_12 {
  width: 940px;
}

/* line 26, ../sass/_grid.scss */
.prefix_12 {
  padding-left: 960px;
}

/* line 30, ../sass/_grid.scss */
.suffix_12 {
  padding-right: 960px;
}

/* line 37, ../sass/_grid.scss */
.push_12 {
  left: 960px;
}

/* line 41, ../sass/_grid.scss */
.pull_12 {
  left: -960px;
}

/* line 5, ../sass/_main.scss */
h1 {
  color: red;
}

/* line 9, ../sass/_main.scss */
ul {
  font-size: 15px;
}
/* line 11, ../sass/_main.scss */
ul a {
  color: green;
}
/* line 13, ../sass/_main.scss */
ul a:hover {
  color: red;
}
/* line 18, ../sass/_main.scss */
div ul + a {
  color: orange;
}

/* line 25, ../sass/_main.scss */
.btn, .warning, .succsess {
  border-radius: 5px;
  color: #58ffff;
  border: 1px #005858 solid;
  background-color: rgba(88, 255, 255, 0.2);
}

/* line 32, ../sass/_main.scss */
.warning {
  color: green;
  background-color: rgba(0, 128, 0, 0.2);
}

/* line 37, ../sass/_main.scss */
.succsess {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../sass/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../sass/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../sass/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/_normalize.scss */
td,
th {
  padding: 0;
}
