.header-bg{
    
    background-color: #f5f7fa;
/*    height: 40px;*/
    border-bottom: 1px solid #e6e9ed;
}



.div_carousel{
    border-top: 1px solid #e6e9ed;
}

.div_check{
    background-color: #f2f5f7;
}
   
.div_footer{
    background-color: #2f4052;
}
.div_footer2{
    background-color: #283645;
}
.link{
    margin-right: 10px;
}
.logo{
  margin-left: 228px;
  margin-top: 38px;
}
.shrift{
    font-size: 15px;
    font-weight: bold;
}
.ull{
    margin-top: 40px;
}
.center_h{
    text-align: center;
    font-weight: bold;
    color: #506a85;
    margin-top: 40px;
    margin-bottom: 48px;
}
.center_p{
    text-align: center;
    color: #506a85;
    margin-bottom: 80px;
}
.hhh{
   color: #506a85; 
}
.pass{
  padding-left: 90px;
  background-image: url(../image/hart.png);
  background-repeat: no-repeat;
  background-position: 1px 22px;
}
.clas_p{
      color: #506a85; 
}
.creat{
  padding-left: 90px;
  background-image: url(../image/lamp.png);
  background-repeat: no-repeat;
  background-position: 1px 22px;

}
.qua{
  padding-left: 90px;
  background-image: url(../image/star.png);
  background-repeat: no-repeat;
  background-position: 1px 22px;

}
.bl{
color: #6b8096;
}
.beauty_pad{
      padding-top: 130px;
  padding-bottom: 85px;

}
.pad-down{
    padding-bottom: 100px;
}
.img_class{
    float: right;
}
.h4style{
      text-align: center;
  padding: 20px 91px 10px 85px;
  background-color: white;
  margin-left: 88px;
  margin-top: 0px;
    color: #6b8096;
}
.p_style{
  text-align: center;
  padding: 20px 91px 20px 85px;
  background-color: white;
  margin-left: 88px;
  margin-top: -18px;
    color: #6b8096;
}

.h4style2{
  text-align: center;
  padding: 20px 91px 10px 85px;
  background-color: white;
  margin-top: 0px;
  margin-right: 89px;
    color: #6b8096;
}
.p_style2{
  text-align: center;
  padding: 20px 91px 20px 85px;
  background-color: white;
  margin-top: -18px;
  margin-right: 89px;
    color: #6b8096;
}
.butt{
  background-color: #00bc9c;
  border: none;
  padding: 11px 15px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 257px;
      margin-bottom: 104px;
}
.whitee{

color: white;
    font-weight: bold;
}
.text_cl{
    color: #8c9aa8;
    font-size: 13px;
}
.new_size{
    width: 290px;
}
.flo_left{
    float: left;
    margin: 2px;
}
.vidstup{
    margin-top: 75px;
}
.vvod{
  background-color: #4e5c6c;
  border-radius: 5px;
  height: 45px;
  width: 270px;
  padding-top: 3px;
}
.inp{
  width: 163px;
  float: left;
  background-color: #4e5c6c;
  border: none;
  height: 40px;
}
.but{
  background-color: #00bc9c;
  border: none;
  padding: 11px 15px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0px;

}
.reen_img{
  padding-bottom: 23px;
}
.ull2 a{
    color: #4e5c6c;
    margin-top: 20px;
}
.ree{
margin-top: 33px;
}
.row_clas{

  padding-bottom: 25px;
    
}
.row_foot{
padding-bottom: 20px;
}
.car2{
  margin-top: 80px;
  margin-bottom: 200px;
}
.bt{
  margin-bottom: 150px;
  margin-top: 20px;
    background-color: #00bc9c;
    font-size: 15px;
    font-weight: bold;
}
.slp{
    font-size: 21px;
}
.slh{
    font-size: 60px;
}
.bt2{
   float: right;
   margin-bottom: 250px;
   background-color: #00bc9c;
   font-size: 15px;
   font-weight: bold;
}
.slp2{
  float: right;
  text-align: -webkit-right;
  font-size: 21px;
}
.slh2{
  float: right;
}
.bt3{
   float: left;
   margin-bottom: 250px;
   background-color: #00bc9c;
   font-size: 15px;
   font-weight: bold;
    
}
.slp3{
  float: left;
  text-align: -webkit-left;
  font-size: 21px;
}
.slh3{
  float: left;
  background-color: #506a85;
  padding: 15px;
}
.bt4{
   float: right;
   margin-bottom: 250px;
   background-color: #00bc9c;
   font-size: 15px;
   font-weight: bold;
    
}
.slp4{
  float: right;
  text-align: -webkit-right;
  font-size: 21px;
}
.slh4{
  float: right;
  background-color: #506a85;
  padding: 15px;
}
.bt5{
    margin-bottom: 240px;
    margin-top: 20px;
    background-color: #00bc9c;
    font-size: 15px;
    font-weight: bold;
}
.slp5{
    font-size: 21px;
}
.slh5{
    font-size: 60px;
}
.mm{
    width: 123px;
}