
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ///////////////////////////////////////////////////////////////
*/

.wrapper{
    margin: 0 auto;
    width: 940px;
}

.main_menu{
    height: 100px;
/*    outline: 1px solid blue;*/
    padding-top: 15px;
/*    width: 940px;*/
}
.zag_class{
    background-position: center 0;
    background-repeat: no-repeat;
    float: left;
    height: 85px;
    margin-right: 0;
    width: 117px;
    text-decoration: none;


}
.div_40_home{
    background-image: url("../image/home_w.png");

}
.div_40_env{
    background-image: url("../image/environment.jpg");
  
    
}
.div_40_video{
    background-image: url("../image/video.jpg");
    
}
.div_40_video:hover{
    background-image: url(../image/video_y.png);

}
.div_40_photo{
    background-image: url("../image/photography.jpg");
  
}
.div_40_travel{
    background-image: url("../image/travel.jpg");
 
}
.div_40_adv{
    background-image: url("../image/adventure.jpg");

}
.div_40_tv{
    background-image: url("../image/tv.jpg");

}
.div_40_kids{
    background-image: url("../image/kids.jpg");
  
}
.div_40_home span,.div_40_photo span,.div_40_video span,.div_40_env span,.div_40_travel span,.div_40_adv span,.div_40_tv span,.div_40_kids span{
    display: block;
    margin-top: 45px;
    text-align: center;
    color: #777;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
}
.main_menu a:hover span{
    color: #fdcc05;

}


.div_40_kids:hover{
    background-image: url(../image/kids_y.png);
}
.div_40_tv:hover{
    background-image: url(../image/tv_y.png);
}

.div_40_adv:hover{
    background-image: url(../image/adventure_y.png);
    cursor: pointer;
}
.div_40_travel:hover{
    background-image: url(../image/travel_y.png);
}
.div_40_photo:hover{
    background-image: url(../image/photography_y.png);
}
.div_40_env:hover{
    background-image: url(../image/environment_y.png);
}
.div_40_adv span:hover{
    color:#fdcc05;
    cursor: pointer;
}

.div_40_kids span:hover{
    color:#fdcc05;
}
.div_40_home span:hover{
    color:#fdcc05;
}

.div_40_tv span:hover{
    color:#fdcc05;
}
.div_40_travel span:hover{
    color:#fdcc05;
}
.div_40_env span:hover{
    color:#fdcc05;
}
.div_40_photo span:hover{
    color:#fdcc05;
}
.div_40_video span:hover{
    color:#fdcc05;
}
.div_40_home:hover{
    background-image: url("../image/home.jpg");
}
.polosa{
    background-color: #777;
    height: 5px;
    margin-top: 10px;
    position: absolute;
    width: 940px;
    z-index: -1;


}
.div_40 a{
   color: #777;
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    margin-left: 33px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
}
    
.div_40_bg{
    height: 5px;
    width: 117px;
    background-color: #777;

}
.div_40 img{
    margin-top: -15px;
}
.div_40 img.center_80{
   float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

}
.main_content{
/*
   width: 705px;
    height: 380px;
*/
    float: left;
/*    outline: 1px solid #000;*/
}
.sub_menu{
    float: left;
/*    height: 380px;*/
/*    outline: 1px solid red;*/
    width: 164px;
    padding-right: 10px;
    
}
.slider{
   border-left: 1px solid #eee;
/*    border-right: 1px solid #eee;*/
    float: left;
/*    height: 380px;*/
    padding-left: 10px;
    padding-right: 13px;
    width: 505px;
}
.most_popular{
/*
    float: right;
    height: 337px;
*/
/*    outline: 1px solid;*/
    width: 225px;
}
.sub_menuS{
     background-image: url("../image/dn.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS1{
     background-image: url("../image/magazine.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS2{
     background-image: url("../image/maps.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS3{
     background-image: url("../image/sciense.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS4{
     background-image: url("../image/education.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS5{
     background-image: url("../image/games.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS6{
     background-image: url("../image/events.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS7{
     background-image: url("../image/blogs.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS8{
     background-image: url("../image/explorers.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-right: 4px;
border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS9{
     background-image: url("../image/trips.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    color: #777777;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    margin-right: 4px;
    border: 1px solid #eeeeee;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sub_menuS9:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/trips_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS8:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/explorers_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS6:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/events_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS7:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/blogs_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS2:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/maps_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS5:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/maps_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS5:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/games_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS4:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/education_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}

.sub_menuS3:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/sciense_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS1:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/magazine_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.sub_menuS:hover{
    background-color: #777;
    color: #fff;
    background-image: url(../image/dn_w.png);
    background-repeat: no-repeat;
    border: 1px solid #777;

}
.aaa{
    display: block;
    padding-top: 40px;

}

.main_menu_center{
    width: 505px;
    height: 40px;
/*    outline:1px solid red;*/
    float: left;
}
.main_slider{
    float: left;
    height: 277px;
     margin-top: 17px;
/*    outline: 1px solid red;*/
    width: 505px;
    border: 1px solid #eee;
}
.latest_news{
   float: left;
    height: 30px;
    margin-top: 11px;
border: 1px solid #eeeeee;
    width: 505px;
}
.mp_u_bar{
    border: 1px solid #eeeeee;
    height: 25px;
    padding-top: 5px;
    width: 221px;
}
.two_news{
  border: 1px solid #eee;
    height: 133px;
    margin-top: 6px;
    padding: 5px 5px 10px;
    width: 211px;
}
.menu_element{
    float: left;
    height: 30px;
    margin-right: 7px;
/*    outline: 1px solid red;*/
    width: 76px;
    border: 1px solid #eeeeee;
}
.menu_element a:hover{
 background-image: url("../image/element_menu.jpg");
    background-repeat: no-repeat;
    border: 0 none;
    color: #fff;
    height: 39px;

}
.menu_element a{
    color: #777;
    display: block;
    font-family: Arial;
    font-size: 12px;
   line-height: 33px;
    text-align: center;
    text-decoration: none;

}
.menu_element_last{
    margin-right: 0px;
     width: 78px;
}
.leopard{
    float: left;
    height: 226px;
/*    outline: 1px solid red;*/
    width: 504px;
}
.lions_play{
    float: left;
    height: 51px;
/*    outline: 1px solid red;*/
    padding-left: 5px;
/*    padding-top: 10px;*/
    width: 499px;;
}
.lion_par{
/*    outline: 1px solid red;*/
    width: 300px;
    float: left;
    padding-top: 10px;
}
.pause{
border-style: solid none solid solid;
border-width: 1px 0 1px 1px;
float: right;
border-color: #eee;
height: 50px;
width: 50px;
    position: relative;
}
.clock{
    height: 31px;
/*    width: 120px;*/
/*    outline: 1px solid red;*/
    float: left;
}
.for_clock{
    float: left;
    height: 30px;
    text-align: center;
    width: 30px;
    background-image: url(../image/clock.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;
}
.clock p{
    color: #777777;
    float: right;
    font-family: Arial;
    font-size: 12px;
    padding: 0px 10px;
    line-height: 30px;
}
.yellow{
    height: 31px;
    width: 40px;
/*    outline: 1px solid red;*/
    float: right;
}
.grey{
    height: 31px;
    width: 40px;
/*    outline: 1px solid red;*/
    float: right;
}
.two_news_img{
    width: 214px;
    height: 100px;
/*    outline: 1px solid red;*/
    float: left;
    margin-bottom: 12px;
}
.star{
    width: 81px;
    height: 30px;
/*    outline: 1px solid red;*/
    float: right;
}
.star2{
    width: 81px;
    height: 30px;
/*    outline: 1px solid red;*/
    float: left;

}
.star p{
    font-size: 10px;
    font-family: Arial;
    color: #959595;

}
.star2 p{
    font-size: 10px;
    font-family: Arial;
    color: #959595;

}
.days_ago{
    height: 30px;
    width: 123px;
/*    outline: 1px solid red;*/
    float:left;
}
.main_content2{
/*    outline: 1px solid red;*/
/*
   width: 693px;
    height: 498px;
*/
    float: left;
}
.four_news{
    float: left;
/*    height: 535px;*/
/*    outline: 1px solid red;*/
    padding-top: 33px;
    width: 695px;        
}
.mar{
    margin-bottom: 0px!important;

}
.color_news{
/*    outline: 1px solid red;*/
/*
    width: 225px;
    height: 535;
    float: right;
*/
    padding-top: 10px;
}
.big_news{
    float: left;
/*    height: 217px;*/
    margin-bottom: 12px;
    margin-right: 10px;
 border: 1px solid #eee;
    padding: 9px;
    width: 322px;
}
.big_news.big_news_last{
    margin-right: 0px;
}
.color_news1{
 border: 1px solid #eee;
    height: 95px;
  margin-top: 36px;
    padding: 5px 5px 10px;
    width: 211px;
}
.color_news2{
 border: 1px solid #eee;
    height: 95px;
    margin-top:6px;
    padding: 5px 5px 10px;
    width: 211px;
}
.shoping,.subscribe{
   border: 1px solid #eee;
    float: left;
    height: 31px;
    margin-top: 14px;
    width: 117px;
}
.shoping{
    margin-right: 6px;
    width: 94px;
    background-image: url(../image/tachka.png);
    background-position: 5px center;
    background-repeat: no-repeat;
}
.second{
    margin-top: 18px;
}
.big_news_img{
 border: 1px solid #eee;
    height: 145px;
    position: relative;
    width: 326px;
}
.big_news_img .star img{
    padding: 0px;

}
.big_news_img  img {
    padding: 3px;
}
.big_news_img_txt{
    bottom: 0;
    height: 40px;
/*    outline: 1px solid red;*/
    position: absolute;
    width: 320px;
}
.zagolovok{
    bottom: 0;
    height: 40px;
/*    outline: 1px solid red;*/
    width: 165px;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.zagolovok h3{
     color: #777777;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.zagolovok a{
     color: #777777;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.zagolovok p{
    color: #c8c8c8;
    font-family: Arial;
    font-size: 11px;
    padding-top: 3px;

}
.big_news_txt{
   color: #959595;
    font-family: Miriad sans-serif;
    font-size: 10px;
    line-height: 13px;
    padding-top: 10px;
}
.aaf{
      border-right: 1px solid #DDDDDD;
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}
.krug{
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}
.april{
 height: 97px;
    width: 213px;
}
.natGeo{
    float: left;
    height: 22px;
/*    outline: 1px solid red;*/
    padding-top: 10px;
    width: 214px;
    padding-left: 3px;
}
.natGeo p{
    font-size: 12px;
    font-family: Arial;
    color:#777777;
    font-weight: bold;
}
.two_news p{
    font-size: 11px;
    color: #a0a0a0;
    font-family: Arial;

}
.shoping_img,.subscribe_img{
   float: left;
    height: 24px;
    padding-left: 5px;
    padding-top: 7px;
     width: 15px;
}
.shoping_img{
    background-image: url("../image/tachka.png");
    background-position: 3px 5px;
    background-repeat: no-repeat;
}
.subscribe_img{
    background-image: url("../image/galochka.png");
    background-position: 2px 7px;
    background-repeat: no-repeat;

}
.mp_star{
    background-image: url("../image/star.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    float: left;
    height: 25px;
    width: 121px;
}
.right_side_bar{
border-left: 1px solid #eee;
    float: right;
/*    height: 877px;*/
    padding-left: 10px;
    width: 224px;
}
.mp_u_bar h3{
     color: #777777;
    display: inline;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 26px;
    text-decoration: none;
    
}
.mp_u_bar a{
     color: #777777;
    display: inline;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding-left: 2px;
    text-decoration: none;
/*    border-left: 1px solid#777777;*/
}
.lions_play h3{
    display: inline;
    color: #555;
    font-family: Arial;
    font-weight: bold;
    float: left;
}
.lions_play a{
     color: #7f7f7f;
    float: left;
    font-size: 11px;
    padding-top: 5px;
    text-decoration: none;
    font-family: Arial;
}

.pause:hover {
    cursor: pointer;
}
.grey{
    background-image: url(../image/grey_kv.jpg);
}
.yellow{
    background-image: url(../image/yellow_kv.jpg);

}
.days_ago h3{
    font-size: 12px;
    font-family: Arial;
    color:#777777;
    font-weight: bold;
}
.days_ago a{
    font-size: 12px;
    font-family: Arial;
    color:#777777;
    font-weight: bold;
    text-decoration: none;
}
.days_ago p{
    font-size: 11px;
    font-family:Miriad;
    color: #c8c8c8;
    padding-top: 3px;
}
.big_news_txt p{
    font-size: 10px;
    font-family: Miriad sans-serif;
    color: #959595;
    line-height: 14px;
}
.ue{
/*    outline: 1px solid red;*/
    height:28px;
    width:150px;
    float: left;
}
.ueimg{
  background-image: url("../image/calendary.png");
    background-position: 8px 4px;
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    padding-left: 5px;
    padding-top: 5px;
    width: 25px;
}
.ue_p{
    float: right;
    height: 23px;
/*    outline: 1px solid red;*/
    padding-top: 7px;
    width: 110px;
}
.ue p{
    font-size: 12px;
    color: #777;
}
.shoping p,.subscribe p{
   color: #9d9d9d;
    float: left;
    font-family: arial;
    font-size: 11px;
    padding-left: 25px;
}
.shoping p{
  font-weight: bold;
    line-height: 33px;
}

.subscribe p{
    background-image: url("../image/galochka.png");
    background-position: 4px 6px;
    background-repeat: no-repeat;
    font-weight: bold;
    line-height: 33px;
}

.magazines{
    float: left;
    height: 30px;
    margin-bottom: 10px;
border: 1px solid #eee;
    width: 936px;
    margin-top: 32px;
    padding-top: 5px;
}
.ngm{
    float: left;
    height: 24px;
/*    outline: 1px solid red;*/
    padding-left: 10px;
    padding-top: 11px;
    width: 30px;
    background-image: url(../image/gurnal.png);
    background-repeat: no-repeat;
    background-position: 11px 7px;
}
.ngm_p{
/*    outline: 1px solid red;*/
    height: 35px;
    width: 300px;
    float: left;
}
.ngm_p p{
    font-size: 12px;
    color:#9d9d9d;
   line-height: 28px;
}
.four_magazines{
/*    outline: 1px solid red;*/
/*
    width: 940px;
    height: 200px;
*/
    float: left;
}
.mag{
    float: left;
    height: 188px;
    margin-right: 7px;
    border: 1px solid #eee;
    padding: 10px 5px 0;
    width: 217px;
}
.mag.mag_last{
    margin-right: 0px;
}
.mag_inside{
 border: 1px solid #eee;
    float: left;
    height: 145px;
    width: 215px;
}
.yellow_jur{
 
    width: 220px;
    height: 32px;
    float: left;
    margin-top: 10px;
}
.color_news1 p{
     color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 60px;
    position: absolute;

}
.color_news1 .text_zv{
     color: #fff;
    font-family: Arial;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 78px;
    position: absolute;


}
.color_news2 p{
     color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 60px;
    position: absolute;

}
.color_news2 .text_zv{
     color: #fff;
    font-family: Arial;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 78px;
    position: absolute;


}
.sub_plus{
border-style: solid none solid solid;
border-width: 1px 0 1px 1px;
float: right;
border-color: #eee;
height: 30px;
width: 100px;
}
.sub_plus_img{
    height: 30px;
    width: 25px;
    background-image: url(../image/plus.png);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}
.sub_div{
    float: right;
    line-height: 16px;
    width: 70px;
    padding: 7px 0px;

}
.sub_plus p{
    font-size: 12px;
    color: #9d9d9d;
    border-left: 1px solid #ccc;
    padding-left: 5px;
}
.sub_plus a{
    font-size: 12px;
    color:#9d9d9d;
    text-decoration: none;
    
}
.sam_jur{
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
.podpis{
    float: left;
    height: 44px;
/*    outline: 1px solid red;*/
    width: 220px;
}
.podpis a {
    text-decoration:none;
    font-size: 12px;
    font-family: Arial;
    color:#777;
    text-align: center;
    padding-top: 10px;
    display: block;
}
.footer{
/*    outline: 1px solid red;*/
/*
    width: 940px;
    height: 70px;
*/
    float: left;
    background-color: #1f1f1f;
     margin-top: 22px;
}
.fotter_sides{
    float: left;
/*    height: 35px;*/
/*    outline: 1px solid red;*/
    padding: 20px 10px 15px;
    width: 450px;
}
.input_div{
/*    outline: 1px solid red;*/
/*    height: 40px;*/
    width: 340px;
    float: left;
    background-color: #282828;
}
.social_div{
    float: left;
/*    height: 33px;*/
/*    outline: 1px solid red;*/
    padding-left: 10px;
    padding-top: 7px;
    width: 85px;
}
.social_div img{
    padding-right: 5px;

}
.li_div{
/*    outline: 1px solid red;*/
    height: 35px;
    width: 380px;
    float: right;
}
.spusok{
/*    outline: 1px solid red;*/
    height: 15px;
    width: 380px;
    float: left;
    padding-bottom: 5px;
}
.fotter_sides p{
    font-size: 12px;
    color:#959595;
    padding-left: 40px;
}
.spusok li{
   border-right: 1px solid #bbb;
    color: #bbb;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;

}
.spusok li.last_li{
    border-right:none;

}
.knopka{
    float: right;
    height: 37px;
/*    outline: 1px solid red;*/
    padding-top: 3px;
    width: 100px;
    background-color: #383838;
     padding-right: 2px;
}
.but{
    background-color: #1f1f1f;
    border: 0 none;
    border-radius: 5px;
    height: 32px;
    width: 100px;
    cursor: pointer;
}
.vvod{
    background-color: #383838;
    border: 0 none;
    height: 40px;
    width: 228px;
    padding: 0px 5px 0px 5px;

}
.main_text{
    float: left;
    height: 15px;
/*    outline: 1px solid red;*/
    padding-top: 25px;
    width: 940px;
}
.main_text p{
    float: left;
    font-size: 16px;
    color:#777;
    padding-right: 60px;

}
.main_text p.first_p{
    padding-left: 40px;
   

}
.main_text p.last_p{
    padding-left: 0px;
    padding-right: 68px;
}
.main_text p.last_k{
padding-right: 0px;

}

.subip{
/*    outline: 1px solid red;*/
    height: 32px;
    width: 85px;
    float: right;
}
.shobip{
/*outline: 1px solid red;*/
    height: 32px;
    width: 60px;
    float: right;

}
.pause img{
     bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

}


@media screen and (max-width: 768px){



.wrapper {
    padding: 0 10px;
    width: 748px;
}

.polosa {
    width: 748px;    
}

.zag_class {
     width: 93px;

}
.sub_menu {

    padding-right: 20px;
}

.slider {
    padding-left: 20px;
   
}

.right_side_bar {
    display: none;

}

.big_news {
    margin-right: 38px;


}
   
.main_content {
     padding: 0 10px;
    
    }
.fotter_sides {
    width: 354px;

}
    
.input_div {
     width: 259px;
}
    
.vvod {
  width: 147px;

}
    
.four_news {
    width: 748px;
}
    
.mag {
     width: 169px;
}
.mag_inside {
    width: 167px;
}
    
.podpis {
    width: 167px;

}
    .podpis a {
    
         font-size: 10px;
    }
    .yellow_jur {
        width: 167px;
    
    }
    
.sub_plus {
     width: 85px;
}
    .sub_div {
        width: 59px;
    }
    
    
.sub_plus a {

     font-size: 10px;
}
    .magazines {
         width: 748px;
    }
}