*{
outline: 0 none !important;}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ///////////////////////////////////////////////////////////////
*/

.bg_up{
/*    outline: 1px solid red;*/
/*    height: 19px;*/
    width: 100%;
    background-color: #474747;
/*    float: left;*/
}
.bg_center{
    outline: 1px solid red;
/*
    height: 3450px;
    width: 100%;
*/
    background-color: #ebebeb;
}
.bg_footer{
/*
    outline: 1px solid red;
    height: 65px;
    width: 100%;
*/
    background-color: #474747;

}
.bg_footer2{
/*    outline: 1px solid red;*/
    height: 485px;
/*    width: 100%;*/
    background-color: #282828;
}
.wrapper_up{
    height: 4px;
    margin: 0 auto;
    outline: 1px solid red;
    padding-left: 83px;
    padding-top: 15px;
    width: 859px;
}

.wrapper_center{
    outline: 1px solid red;
    width: 942px;
    overflow: hidden;
    margin: 0 auto;
}
.wrapper_footer{
    outline: 1px solid red;
    width: 942px;
    height: 65px;
    margin: 0 auto;
}

.wrapper_footer2{
    outline: 1px solid red;
    width: 942px;
    height: 485px;
    margin: 0 auto;
}

.red_line{
    outline: 1px solid red;
    height: 4px;
    width: 48px;
    float: left;
    background-color: #f26c4f;
/*     margin-right: 43px;*/
    
}
.red_line2{
    outline: 1px solid red;
    height: 4px;
    width: 48px;
    float: left;
    background-color: #474747;
     margin-right: 43px;
    
}

.up_part{
/*    float: left;*/
    height: 47px;
    outline: 1px solid red;
    padding-bottom: 9px;
    padding-top: 15px;
    width: 942px;

}
.search{
    float: left;
/*    height: 47px;*/
    outline: 1px solid red;
    width: 451px;
}
.social{
/*
    float: right;
height: 47px;
outline: 1px solid red;
width: 321px;
*/
}
.search_for{
 background-color: #fff;
    background-image: url("../image/clock.png");
    background-position: 263px 11px;
    background-repeat: no-repeat;
    float: left;
/*    height: 47px;*/
    line-height: 47px;
    outline: 1px solid red;
    padding-left: 18px;
    width: 282px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    
}
.search_for p{
    font-family: Arial;
    font-size: 12px;
    color:#9d9d9d;

}
.findy{
    outline: 1px solid red;
/*
    width: 140px;
    height: 47px;
*/
    float: right;
    background-color: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.krug{
  background-image: url("../image/krug.png");
    background-position: 15px 13px;
    background-repeat: no-repeat;
    float: left;
    height: 47px;
    line-height: 47px;
    outline: 1px solid red;
    padding-left: 35px;
    width: 60px;
}
.krug p{
    font-family: Arial;
    font-size: 12px;
    color:#959595;

}
.krug a{
    text-decoration: none;
    color: #959595;


}

.strelka{
    background-color: #8f8f8f;
    outline: 1px solid red;
    width: 45px;
    height: 47px;
    float: left;
    background-image: url(../image/grey_str.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.tw{
    outline: 1px solid red;
    height: 47px;
    width:100px;
    float: right;
    background-image: url(../image/tw.png);
    background-repeat: no-repeat;
    background-position: 18px 16px;
}
.tw p{
    color: #8f8f8f;
    font-family: Arial;
    font-size: 12px;
    padding-left: 35px;
line-height: 42px;
}

.tw  a{
    text-decoration: none;
     color: #8f8f8f;
}


.facebook{
    outline: 1px solid red;
    height: 47px;
    width: 100px;
    float: right;
     background-image: url(../image/face.png);
    background-repeat: no-repeat;
    background-position: 7px 13px;
}
.facebook p{
        color: #8f8f8f;
    font-family: Arial;
    font-size: 12px;
    padding-left: 22px;
line-height: 42px;


}
.facebook  a{
    text-decoration: none;
     color: #8f8f8f;
}
.rss{
    outline: 1px solid red;
    height: 47px;
    width: 60px;
    float: right;
     background-image: url(../image/rss.png);
    background-repeat: no-repeat;
    background-position: 7px 15px;
}
.rss p{
        color: #8f8f8f;
    font-family: Arial;
    font-size: 12px;
    padding-left: 22px;
line-height: 42px;


}
.rss  a{
    text-decoration: none;
     color: #8f8f8f;
}
.mail{
    outline: 1px solid red;
    height: 47px;
    width: 60px;
    float: right;
     background-image: url(../image/mail.png);
    background-repeat: no-repeat;
    background-position: 16px 15px;
}
.mail p{
        color: #8f8f8f;
    font-family: Arial;
    font-size: 12px;
    padding-left: 35px;
line-height: 42px;


}
.mail  a{
    text-decoration: none;
     color: #8f8f8f;
}
.bridge{
/*
    outline: 1px solid red;
    height: 391px;
    width: 942px;
    float: left;
*/
}
.color_menu{
/*
    outline: 1px solid red;
    height: 380px;
    width: 942px;
*/
    float: left;
    padding-top: 15px;
}
.color_menu1,.color_menu2,.color_menu3{
    outline: 1px solid red;
    width: 300px;
/*    height: 380px;*/
    float: left;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.color_menu1,.color_menu2{
    margin-right: 20px;
}
.goodChoice{
    outline: 1px solid red;
    width: 622px;
/*    height: 2504px;*/
    float: left;
    padding-top: 19px;
}
.greece{
/*   outline: 1px solid red;*/
/*    height: 1463px;*/
    width: 302px;
    float: right;
    padding-top: 19px;
}
.good_small{
     background-color: #fff;
    border-left: 2px solid #f26c4f;
/*    float: left;*/
    height: 172px;
    outline: 1px solid red;
    padding: 33px 112px 0 40px;
/*    width: 468px;*/
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
   
}
.behind{
    outline: 1px solid red;
    height: 173px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 13px;
    background-color: #f26c4f;
    border-left:2px solid #ce4e32;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 42px;
}
.sunshine{
    outline: 1px solid red;
    height: 99px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 13px;
     border-left:2px solid #8f8f8f;
   box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 38px;
    
}

.child{
    outline: 1px solid red;
    height: 76px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 7px;
    border-left:2px solid #8f8f8f;
   box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 38px;
}
.fact{
    outline: 1px solid red;
    height: 76px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 7px;
    border-left:2px solid #d9d9d9;
   box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 38px;
}
.family{
    outline: 1px solid red;
    height: 76px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 7px;
    border-left:2px solid #d9d9d9;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 38px;
}
.first{
    outline: 1px solid red;
    height: 76px;
/*    width: 620px;*/
/*    float: left;*/
    margin-top: 7px;
    border-left:2px solid #d9d9d9;
   box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 38px;
}
.read_more{
/*
    outline: 1px solid red;
    height: 111px;
    width: 622px;
    float: left;
*/
}
.web_design{
     outline: 1px solid red;
    height: 51px;
/*    width: 622px;*/
/*    float: left;*/
}
.nice_text{
    margin-top: 25px;
    outline: 1px solid red;
    overflow: hidden;
    padding: 30px 50px 0;

}
.april_19{
/*
    outline: 1px solid red;
    height: 41px;
    width: 622px;
    float: left;
*/
    background-color: #efefef;
}
.long_walks{
/*   outline: 1px solid red;*/
/*    width: 622px;*/
/*    height: 614px;*/
/*    float: left;*/
    margin-top: 27px;
}
.long_walks_img{
    outline: 1px solid red;
    width: 622px;
    height: 305px;
    float: left;
    position: relative;
}
.kvd1{
    outline: 1px solid red;
    height: 30px;
    width: 30px;
    background-color: #f26c4f;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url(../image/right_str.png);
    background-position: center;
    background-repeat: no-repeat;

}
.kvd2{
    outline: 1px solid red;
    height: 30px;
    width: 30px;
    background-color: #363339;
    position: absolute;
    bottom: 0px;
    right: 30px;
     background-image: url(../image/plus2.png);
    background-position: center;
    background-repeat: no-repeat;
    

}
.long_walk_txt{
    outline: 1px solid red;
    height: 270px;
    width: 572px;
    float: left;
    background-color: #fff;
    padding-top: 39px;
    padding-left: 50px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.long_walk_txt li{
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
}
.text_box{
    outline: 1px solid red;
    width: 622px;
    height: 482px;
    float: left;
    margin-top: 16px;
    background-color: #fff;
   box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.nice_looking{
/*
    outline: 1px solid red;
    height: 580px;
    width: 302px;
    float: left;
*/
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.house_work{
/*
   outline: 1px solid red;
height: 177px;
width: 286px;
*/
padding-top: 33px;
/*float: left;*/
padding-left: 16px;
}
.fake{
/*   outline: 1px solid red;*/
height: 180px;
/*
width: 287px;
float: left;
*/
padding-top: 33px;
padding-left: 16px;
}
.about{
/*    outline: 1px solid red;*/
/*    height: 47px;*/
    width: 302px;
    float: left;
    margin-bottom: 7px;
    background-color: #fff;
}
.how_to{
/*     outline: 1px solid red;*/
/*    height: 45px;*/
    width: 302px;
    float: left;
    margin-bottom: 7px;
    background-color: #fff;
}
.write{
/*     outline: 1px solid red;*/
/*    height: 43px;*/
    width: 302px;
    float: left;
    margin-bottom: 7px;
    background-color: #fff;
}
.video{
/*    outline: 1px solid red;*/
/*    height: 43px;*/
    width: 302px;
    float: left;
    background-color: #fff;
}
.statistica{
    float: left;
/*    outline: 1px solid red;*/
    padding: 46px 0 0 8px;
/*    width: 294px;*/
}
.left_logo,.right_menu{
    outline: 1px solid red;
    width: 471px;
    float: left;
}
.logo{
   outline: 1px solid red;
    height: 65px;
    width: 64px;
    float: left;
    padding-left: 30px;
    background-image: url(../image/red_kv.jpg);
    background-repeat: no-repeat;
}

.logo p{
    font-size: 45px;
    line-height: 53px;    
    color: #fff;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color:#fff;


}
.kvplus{
    background-color: #cacaca;
    background-image: url("../image/plus2.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    left: -50px;
    outline: 1px solid red;
    position: absolute;
    top: -30px;
    width: 30px;


}
.kvplus2{
    background-color: #cacaca;
    background-image: url("../image/plus2.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    left: 0px;
    outline: 1px solid red;
    position: absolute;
    top: 0px;
    width: 30px;


}
.sign{
    outline: 1px solid red;
    height: 65px;
    width: 95px;
    float: left;
}
.sign p{
  font-family: Arial;
    font-size: 18px;
    color: #fff;
    line-height: 67px;
    padding-left: 10px;
}
.right_menu li{
    float: left;
    font-family: Arial;
    font-size: 13px;
    color: #fff;
    height: 62px;
    border-bottom: 3px solid transparent;
    margin-right: 21px;
}
.right_menu li:hover{
    border-color: red;
}
.right_menu{
   float: right;
    line-height: 65px;
     width: 471px;
} 
.right_menu a {
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #767676;
}
.right_menu a.last{
   padding-right: 0px;
    margin-right: 0px;
    border-right: none; 

}
.color_menu1_img,.color_menu2_img,.color_menu3_img{
/*
    outline: 1px solid red;
    width: 300px;
    height: 188px;
    float: left;
*/
}
.color_menu1_txt,.color_menu2_txt,.color_menu3_txt{
    background-color: #fff;
/*    float: left;*/
    height: 170px;
    outline: 1px solid red;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    width: 250px;
}
.bridge_img{
/*    outline: 1px solid red;*/
/*    width: 630px;*/
    height: 391px;
    float: left;
/*    background-image: url(../image/zastavka.jpg);*/
    position: relative;
}
.red_line_t{
   background-color: #373737;
    background-image: url("../image/str_zastavka.png");
    float: left;
    height: 391px;
    outline: 1px solid red;
    width: 22px;
}
.bridge_txt{
    outline: 1px solid red;
    height: 391px;
    width: 289px;
    float: left;
    background-color: #373737;
    position: relative;
}
.kvadratik1{
    outline: 1px solid red;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #474747;
    background-image: url(../image/right_str.png);
    background-repeat: no-repeat;
    background-position: center;

}
.kvadratik2{
     outline: 1px solid red;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 0px;
    right:33px;
    background-color: #535353;
      background-image: url(../image/left_str.png);
    background-repeat: no-repeat;
    background-position: center;



}


.nice_looking_img{
/*    outline: 1px solid red;*/
    height: 294px;
/*
    width: 302px;
    float: left;
*/
/*    background-image: url(../image/blue_krucha.jpg);*/
/*    background-repeat: no-repeat;*/
}
.nice_looking_txt{
    background-color: #373737;
/*    float: left;*/
    height: 284px;
    outline: 1px solid red;
    padding: 27px 27px 0;
    width: 246px;
}



.color_zagolovok{
    float: left;
    height: 70px;
    outline: 1px solid red;
    width: 251px;
}
.color_zagolovok p{
    font-family: Arial;
    font-size: 25px;
    color:#4f4f4f;
}

.small_abz{
   float: left;
    outline: 1px solid red;
    padding-right: 35px;
    width: 235px;

}
.small_abz p{
    font-family: Arial;
    font-size: 13px;
    color:#646464;
    line-height: 22px;
}
.small_abz a{
    text-decoration: none;
    color: #646464;


}
.good_zagolovok{
   outline: 1px solid red;
height: 27px;
float: left;
width: 582px;

}
.good_zagolovok p{
    font-family: Arial;
    font-size: 24px;
    color:#474747;
} 
.good_data{
   outline: 1px solid red;
    width: 582px;
    height: 22px;
    float: left;
   
}

.january{
   outline: 1px solid red;
height: 22px;
width: 125px;
float: left;
border-right: 1px solid #dfdfdf;
padding-left: 1px;
    font-style: italic;
}
.january p{
    font-size: 10px;
    font-family: Arial;
    color: #c0c0c0;
    line-height: 20px;

}
.coments{
outline: 1px solid red;
height: 22px;
width: 90px;
float: left;
border-right: 1px solid #dfdfdf;
padding-left: 25px;
}
.coments p{
      font-size: 10px;
    font-family: Arial;
    color: #c0c0c0;
    font-style: italic;
    line-height: 20px;
}
.stars{
outline: 1px solid red;
height: 22px;
width: 65px;
float: left;
padding-left: 16px;
}

.votes{
    outline: 1px solid red;
height: 22px;
width: 50px;
float: left;
padding-left: 13px;

}
.votes p{
     font-size: 10px;
    font-family: Arial;
    color: #c0c0c0;
    font-style: italic;
    line-height: 20px;
}
.good_p{
outline: 1px solid red;
width: 469px;
height: 76px;
float: left;
padding-top: 6px;
}
.good_p p{
      font-size: 14px;
    font-family: Arial;
    color: #c0c0c0;
    line-height: 21px;
}


.behind_zagolovok{
outline: 1px solid red;
height: 27px;
float: left;
width: 580px;
padding-top: 33px;

}

.behind_zagolovok p{
    font-family: Arial;
    font-size: 24px;
    color:#fff;
}
.behind_january{
outline: 1px solid red;
height: 20px;
width: 126px;
float: left;
border-right: 1px solid #dfdfdf;

}
.behind_january p{
    font-size: 11px;
font-family: Arial;
color: #ffffff;
    font-style: italic;
    line-height: 15px;
}
.behind_comments{
outline: 1px solid red;
height: 20px;
width: 90px;
float: left;
border-right: 1px solid #dfdfdf;
padding-left: 25px;

}
.behind_comments p{
    font-size: 11px;
    font-family: Arial;
    color: #ffffff;
    font-style: italic;
    line-height: 19px;
}
.behind_stars{
outline: 1px solid red;
height: 20px;
width: 53px;
float: left;
/*border-right: 1px solid #dfdfdf;*/
padding-left: 17px;


}
.behind_votes{
outline: 1px solid red;
height: 18px;
width: 60px;
float: left;
padding-left: 23px;

}
.behind_votes p{
            font-size: 11px;
font-family: Arial;
color: #ffffff;
    font-style: italic;
    line-height: 15px;

}
.behind_p{
    outline: 1px solid red;
width: 469px;
height: 76px;
float: left;
padding-top: 6px;
}
.behind_p p{
  font-size: 14px;
    font-family: Arial;
    color: #fff; 
    line-height: 21px;
}
.zagolovok_all{
    outline: 1px solid red;
width: 584px;
height: 25px;
float: left;
padding-top: 25px;
    padding-bottom: 10px;
}
.zagolovok_all p{
    font-family: Arial;
    font-size: 26px;
    color:#474747;
}
.data_all{
    outline: 1px solid red;
    width: 584px;
    height: 25px;
    float: left;
}
.jan{
    border-right: 1px solid #dfdfdf;
    float: left;
    height: 15px;
    line-height: 16px;
    outline: 1px solid red;
    width: 111px;
}
.jan p{
    font-family: Arial;
    font-size: 12px;
    float: left;
    color: #b0b0b0;

}
.com{
    border-right: 1px solid #dfdfdf;
    float: left;
    height: 15px;
    line-height: 16px;
    outline: 1px solid red;
    padding-left: 12px;
    width: 91px;
}
.com p{
    font-family: Arial;
    font-size: 12px;
    float: left;
    color: #b0b0b0;

}
.zagolovok_all2{
outline: 1px solid red;
width: 584px;
height: 25px;
float: left;
padding-top: 19px;

}
.zagolovok_all2 p{
    font-family: Arial;
    font-size: 19px;
    color:#474747;
}
.jan2{
   outline: 1px solid red;
width: 111px;
height: 15px;
float: left;

    border-right: 1px solid #dfdfdf;
}
.jan2 p{
    font-family: Arial;
    font-size: 12px;
    float: left;
    color: #b0b0b0;

}
.com2{
border-right: 1px solid #dfdfdf;
    float: left;
    height: 15px;
    line-height: 15px;
    outline: 1px solid red;
    padding-left: 12px;
    width: 91px;
}
.com2 p{
    font-family: Arial;
    font-size: 12px;
    float: left;
    color: #b0b0b0;

}
.sunshine,.child,.fact,.family,.first,.web_design,.nice_text{
    background-color: #fff;

}
.read_more{
/*    float: left;*/
    height: 84px;
/*    width: 622px;*/
}
.read_more p{
    color: #bdbdbd;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.read_more a{
    background-image: url("../image/plus.png");
    background-position: 31px 20px;
    background-repeat: no-repeat;
    color: #bdbdbd;
    line-height: 65px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;


}


.work_by{
 background-image: url("../image/book.png");
    background-position: 126px 9px;
    background-repeat: no-repeat;
    border-right: 1px solid #eee;
    float: left;
    height: 28px;
    line-height: 35px;
    margin-top: 12px;
    outline: 1px solid red;
    padding-left: 33px;
    width: 120px;
}
.work_by p{
    font-family: Arial;
    font-size: 12px;
    color:#bababa;

}
.wb{
border-right: 1px solid #eee;
    float: left;
    height: 17px;
    margin-top: 20px;
    outline: 1px solid red;
    padding-left: 30px;
    width: 109px;
}
.wb p{
    font-family: Arial;
    font-size: 13px;
    color: #f26c4f;

}
.wb a{
    text-decoration: none;
    color: #f26c4f;
}
.strl{
    background-image: url("../image/red_str.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-right: 1px solid #eee;
    float: left;
    height: 17px;
    margin-top: 20px;
    outline: 1px solid red;
    width: 30px;

}
.nice_zag{
 float: left;
    height: 30px;
    outline: 1px solid red;
    padding-top: 31px;
    position: relative;
    width: 570px;

}
.nice_zag p{
    font-family: Arial;
    font-size: 32px;
    color: #707070;
}
.first_abz{
float: left;
    height: 49px;
    outline: 1px solid red;
    padding-top: 21px;
    width: 572px;
}
.first_abz p{
    color: #9d9d9d;
    font-family: Arial;
    font-size: 16px;
    line-height: 25px;
}
.chek_leo{
 float: left;
    height: 40px;
    outline: 1px solid red;
    padding-top: 10px;
    width: 572px;
}
.chek_leo p{
    font-family: Arial;
    font-size: 15px;
    color:#f26c4f;
}
.chek_leo a{
    text-decoration: none;
    color:#f26c4f;


}
.second_abz{
float: left;
    height: 139px;
    outline: 1px solid red;
    padding-top: 15px;
    width: 525px;
}
.second_abz p{
    color: #9d9d9d;
    font-size: 13px;
    font-family: Arial;
    line-height: 25px;

}
.left_april{
    outline: 1px solid red;
height: 26px;
width: 70px;
float: left;
padding-top: 15px;
padding-left: 25px;
}
.left_april p{
    font-family: Arial;
    font-size: 12px;
    color: #a2a2a2;
}
.harts{
outline: 1px solid red;
height: 26px;
width: 62px;
float: right;
padding-top: 15px;
padding-left: 26px;
    background-image: url(../image/hart.png);
    background-repeat: no-repeat;
    background-position: 50px 17px;
    background-color: #efefef;
}
.harts p{
    font-family: Arial;
    font-size: 12px;
    color: #a2a2a2;
}
.txt_zagolovok{
outline: 1px solid red;
height: 106px;
width: 572px;
float: left;

}
.txt_zagolovok p{
    color: #707070;
font-family: Arial;
font-size: 35px;

}
.txt_lorem{
   outline: 1px solid red;
height: 120px;
width: 572px;
float: left;
line-height: 26px;
}
.txt_lorem p{
   color: #b4b4b4;
font-family: Arial;
font-size: 12px;
padding-top: 30px;
line-height: 29px;
}

.tb{
outline: 1px solid red;
width: 571px;
height: 53px;
float: left;
padding-left: 51px;
padding-top: 52px;
    position: relative;


}
.tb p{
        color: #707070;
font-family: Arial;
font-size: 35px;
}


.tb2{
outline: 1px solid red;
width: 525px;
height: 104px;
float: left;
padding-left: 51px;
padding-top: 6px;
padding-right: 46px;


}
.tb2 p{
color: #949494;
font-family: Arial;
font-size: 15px; 
    line-height: 25px;


}
.tb3{
outline: 1px solid red;
width: 525px;
height: 104px;
float: left;
padding-left: 51px;
padding-top: 2px;
padding-right: 46px;


}
.tb3 p{
color: #949494;
font-family: Arial;
font-size: 13px;  
line-height: 25px;

}
.tb4{
outline: 1px solid red;
width: 525px;
height: 127px;
float: left;
padding-left: 51px;
padding-top: 34px;
padding-right: 46px;
}
.tb4 p{
    color:#949494;
    font-family: Arial;
    font-size: 13px;
    line-height: 25px;

}
.bridge_txt_zag{
outline: 1px solid red;
width: 235px;
height: 67px;
float: left;
padding-left: 23px;
padding-top: 40px;
padding-right: 31px;
}
.bridge_txt_zag p{
    color: #fff;
font-family: Arial;
font-size: 21px;


}
.bridge_txt_text{
outline: 1px solid red;
width: 217px;
height: 110px;
float: left;
padding-left: 23px;
padding-right: 50px;


}
.bridge_txt_text p{
    color: #9b9b9b;
font-family: Arial;
font-size: 12px;
line-height: 22px;

}
.bridge_txt_data{
    outline: 1px solid red;
    width: 289px;
    height: 50px;
    float: left;
}
.budil{
outline: 1px solid red;
width: 53px;
height: 39px;
float: left;
padding-left: 25px;
padding-top: 11px;;
}
.budil p{
   color: #fff;
font-size: 31px;
font-weight: bolder;

}
.budil a{
    color: #fff;
    text-decoration: none;


}
.data14{
   outline: 1px solid red;
width: 160px;
height: 50px;
float: right;
    background-image: url(../image/clock_grey.png);
background-repeat: no-repeat;
background-position: 0px 19px;

}
.data14 p{
   color: #737373;
font-family: Arial;
font-size: 12px;
padding-top: 24px;
padding-left: 24px;

}
.text_box_bridge{
    outline: 1px solid red;
    width: 363px;
    height: 63px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
right: 0px;
opacity: 0.5;

}
.text_box_bridge p{
color: #fff;
    font-family: Arial;
    font-size: 16px;
    line-height: 62px;
    padding-left: 28px;

}
.text_box_bridge a{
    text-decoration: none;
    color: #fff;


}


.zag{
    padding-bottom: 15px;

}
.zag p{
    color: #fff;
    font-family: Arial;
    font-size: 27px;


}
.tx{
outline: 1px solid red;
height: 155px;
width: 235px;
float: left;

}

.tx p{
    color: #fff;
    font-family: Arial;
    font-size:12px;
    line-height: 26px;
}
.hw_zag{
    float: left;
    outline: 1px solid red;
    padding-bottom: 10px;
    width: 286px;
}
.hw_zag p{
    color: #000;
    font-family: Arial;
   font-size: 21px;

}
.hw_txt{
      outline: 1px solid red;
    height: 68px;
    width: 286px;
    float: left;
}
.hw_txt p{ 
    color:#bababa;
    font-family: Arial;
    font-size: 12px;
    line-height: 22px;

}
.hw_data{
        outline: 1px solid red;
    height: 48px;
    width: 286px;
    float: left;
}
.hw_plus{
    outline: 1px solid red;
    height: 48px;
width: 27px;
    float: left;
}
.hw_plus p{
    color: #8f8f8f;
    font-weight: bold;
    font-size: 32px;

}
.hw_d{
   outline: 1px solid red;
width: 258px;
height: 49px;
float: right;

}
.hw_d p{
    color: #bababa;
    font-family: Arial;
    font-size: 12px;
    padding-top: 13px;

}
.au{
   outline: 1px solid red;
height: 30px;
width: 80px;
float: left;
padding-left: 24px;
padding-top: 17px;


}
.au p{
    color: #474747;
    font-family: Arial;
    font-size: 18px;
}
.au a{
    color: #474747;
    text-decoration: none;


}
.au2 a{
    color: #474747;
    text-decoration: none;


}
.au3 a{
    color: #474747;
    text-decoration: none;
}
.au4 a{
    color: #474747;
    text-decoration: none;


}
.br{
   outline: 1px solid red;
height: 27px;
width: 100px;
float: left;
padding-top: 20px;
}
.br p{
    color:#a7a7a7;
    font-family: Arial;
    font-size: 12px;


}
.au2{
   outline: 1px solid red;
height: 30px;
width: 61px;
float: left;
padding-left: 24px;
padding-top: 17px;


}
.au2 p{
    color: #474747;
    font-family: Arial;
    font-size: 18px;
}
.au3{
outline: 1px solid red;
height: 26px;
width: 105px;
float: left;
padding-left: 24px;
padding-top: 14px;


}
.au3 p{
 color: #474747;
    font-family: Arial;
    font-size: 18px;
}
.au4{
outline: 1px solid red;
height: 26px;
width: 155px;
float: left;
padding-left: 24px;
padding-top: 14px;


}
.au4 p{
 color: #474747;
    font-family: Arial;
    font-size: 18px;
}
.cifru{
    outline: 1px solid red;
    float: left;
    height: 261px;
    width: 150px;

}
.cifra1{
/*outline: 1px solid red;*/
width: 294px;
/*
height: 59px;
float: left;
*/



}
.cifra1 p{
 color: #474747;
    display: inline;
    font-family: Arial;
    font-size: 52px;
    font-weight: bold;

}
.cifra2{
/*   outline: 1px solid red;*/
width: 294px;
/*
height: 53px;
float: left;
*/



}
.cifra2 p{
  color: #474747;
    display: inline;
    font-family: Arial;
    font-size: 52px;
    font-weight: bold;

}
.cifra3{
/*   outline: 1px solid red;*/
width: 294px;
/*
height: 53px;
float: left;
*/



}
.cifra3 p{
    color: #474747;
font-family: Arial;
font-size: 52px;
font-weight: bold;
     display: inline;

}
.cifra4{
/*outline: 1px solid red;*/
width: 294px;
/*
height: 50px;
float: left;
*/



}
.cifra4 p{
color: #474747;
font-family: Arial;
font-size: 52px;
font-weight: bold;
 display: inline;
}
.znaku{
    outline: 1px solid red;
    height: 247px;
    width: 151px;
    float: right;
}
.cifra1 .znak1 {
    background-image: url("../image/ochechi.png");
    background-position: 0 12px;
    background-repeat: no-repeat;
    color: #858585;
    float: right;
    font-family: Arial;
    font-size: 12px;
    height: 19px;
    outline: 1px solid red;
    padding-left: 57px;
    padding-top: 14px;


}
.cifra3 .znak3 {
    background-image: url("../image/down.png");
    background-position: 0 12px;
    background-repeat: no-repeat;
    color: #858585;
    float: right;
    font-family: Arial;
    font-size: 12px;
    height: 19px;
    outline: 1px solid red;
    padding-left: 57px;
    padding-top: 14px;
    width: 94px;


}
.cifra4 .znak4 {
    background-image: url("../image/g.png");
    background-position: 0 12px;
    background-repeat: no-repeat;
    color: #858585;
    float: right;
    font-family: Arial;
    font-size: 12px;
    height: 19px;
    outline: 1px solid red;
    padding-left: 57px;
    padding-top: 14px;
    width: 85px;


}
.cifra2 .znak2 {
    background-image: url("../image/olivec.png");
    background-position: 0 12px;
    background-repeat: no-repeat;
    color: #858585;
    float: right;
    font-family: Arial;
    font-size: 12px;
    height: 19px;
    padding-left: 57px;
    padding-top: 14px;
    width: 93px;


}
.znak2{
outline: 1px solid red;
width: 151px;
height: 53px;
float: left;
     background-image: url(../image/olivec.png);
    background-repeat: no-repeat;
    background-position: 28px 16px;


}
.znak3{
       outline: 1px solid red;
width: 151px;
height: 53px;
float: left;
     background-image: url(../image/down.png);
    background-repeat: no-repeat;
    background-position: 25px 15px;

}
.znak4{
    outline: 1px solid red;
width: 151px;
height: 38px;
float: left;
 background-image: url(../image/g.png);
    background-repeat: no-repeat;
background-position: 30px 15px;

}
.znak1 p{
    color: #858585;
font-family: Arial;
font-size: 12px;
padding-top: 64px;
padding-left: 57px;


}
.znak2 p{
    color: #858585;
font-family: Arial;
font-size: 12px;
padding-top: 20px;
padding-left: 57px;


}
.znak3 p{
    color: #858585;
font-family: Arial;
font-size: 12px;
padding-top: 20px;
padding-left: 57px;


}
.znak4 p{
    color: #858585;
font-family: Arial;
font-size: 12px;
padding-top: 18px;
padding-left: 57px;


}
.last_abz{
   outline: 1px solid red;
height: 75px;
width: 942px;
float: left;
padding-top: 50px;


}
.last_list{
    outline: 1px solid red;
    height: 20px;
    width: 942px;
    float: left;
}
.last_list li{
 float: left;
color: #fff;
font-family: Arial;
font-size: 12px;
padding-top: 3px;
margin-right: 20px;

}
.last_list a{
    color:#fff;
    text-decoration: none;
    


}
.last_ab{
outline: 1px solid red;
height: 38px;
width: 942px;
float: left;
padding-top: 17px;
}
.last_ab p{
    color: #7e7e7e;
font-family: Arial;
font-size: 11px;
float: left;
line-height: 21px;

}
.rm_polosa{
   float: right;
    height: 10px;
    margin-right: 65px;
    width: 412px;
     margin-top: 6px;

}
.lastt{
    margin-right: 0px;

}
/*
.right_menu a:hover .red_line2{
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    color:#FF6C4B;

}*/



@media screen and (max-width: 768px){

.greece {

display: none;
}


.wrapper_center {
    padding: 0 10px;
    width: 748px;

}


.bridge_img > img {
    height: 391px;
    width: 437px;
}

.social {
    width: 748px;
}

.facebook {
     width: 90px;

}

.tw {
 width: 80px;
    }
.color_menu {

    width: 784px;
}
    
.color_menu1, .color_menu2 {
    margin-right: 5px;
}
.color_menu1, .color_menu2, .color_menu3 {

    width: 248px;
}

    
.color_menu1_img > img {
    width: 249px;
}
    
.color_menu2_img > img {
    width: 249px;
}
    
.color_menu3_img > img {
    width: 249px;
}
    
.color_menu1_txt, .color_menu2_txt, .color_menu3_txt {

width: 200px;

}
    
.color_zagolovok p {
font-size: 24px;

}
    .wrapper_footer {
    
       padding: 0 10px;
    width: 748px;
    }
    
.right_menu {

width: 433px;

}
    .wrapper_footer2 {
        padding: 0 10px;
    width: 748px;
    
    }
    
.last_ab {
width: 748px;

}
    .left_logo{
    width: 315px;
    
    }
    .goodChoice {
    
     width: 748px;
    }
    
.long_walk_txt {
 padding-top: 85px;
 width: 748px;
}
    .text_box {
    
    width: 748px;
    }
    
.long_walks_img > img {
    width: 748px;
}
    
.kvd1{
    display: none;
}
    .kvd2{
    display: none;
    
    }
    

}