$color:red;
$link-color:green;
$btn-color:#58ffff;

h1{
    color: $color;
}

ul{
    font-size: 15px;
    a{
        color:$link-color;
        &:hover{
         color:$color;
        }
    }
    
    div & + a{
        color: orange;
    
    }

}

.btn{
    border-radius: 5px;
    color:$btn-color;
    border: 1px darken($btn-color,50%) solid;
    background-color: transparentize($btn-color, 0.8);
}

.warning{
@extend .btn;
    color: green;
    background-color: transparentize(green,0.8);
}
.succsess{
@extend .btn;
    color: red;
    background-color: transparentize(red,0.8);
}



