



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    Usual version////////////////////////////////////////////////////////////
*/


.wrapper{
   background-color: #fff;
    overflow: hidden;
    padding: 5px 20px;
    width: 940px;
    margin: 0 auto;
}

.back{
    background-image: url(../image/background.jpg);
}
.header{
    height: 135px;
   

}

.social{
    float: right;
    height: 25px;
    padding: 10px 0;
    width: 250px;
}
.social a{
    float: left;
    margin-right:10px;
}

.social a.last{
/*    float: right;*/
    margin-right:0px;
}

.logo{
    background-image: url("../image/logo.jpg");
    display: block;
    height: 50px;
    width: 250px;
}


.nav{    
    float: left;
    height: 15px;
    margin-left: 350px;
    width: 315px;
}
.nav li{
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right-style: solid;
    border-width: thin;
    
}
.nav li:last-child{
    border: none;
}

.nav li a{
    text-decoration:none;
    font-size:12px;
    color:#CF0000;
    font-family: Arial;
}
.nav li a:hover{
    text-decoration:underline;
 }

.search{
    float: right;
   
}
.search input{
    background-image: url(../image/ser.jpg);
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    height: 28px;
    padding: 0 43px 0 5px;
    width: 200px;
    background-position: 100% 50%;
}
.head2{
    outline: 1px solid #cf0000;
}
.clear{
    clear: both;
}
.menu{
    background-color: #121314;
    float: right;
    height: 40px;
    width: 940px;
    margin-top: 15px;
}
.nav2{
    font-size: 0;
    text-align: center;

}

.nav2 li{
     display: inline-block;
    list-style-type: none;
    padding: 0 13px;
}
.nav2 li a{
    text-decoration:none;
    font:bold 14px/40px Arial ;
    color:#FFFFFF;
}

.nav2 li a:hover{
    text-decoration:underline;
}

.main_div{
    height: 310px;
    padding: 10px 0;
    width: 940px;
}
.breaking_news{
     background-color: #202021;
    float: left;
    height: 285px;
    padding: 10px;
    width: 650px;
    position: relative;
 
}
.opasity{
    background-color: black;
    opacity:0.7;
    height: 50px;
    margin-top: -50px;
    width: 525px;
}
.opasity p{
    color: #ffffff;
    float: center;
    margin-left: 130px;
    padding-top:10px;
    font-size: 17px;
    font-family: Arial;
    
}

.main_news{
/*    background-image: url("../image/black_man.jpg");*/
/*    background-repeat: no-repeat;*/
    float: left

    
}
.img_small{
     float: right;
     padding-bottom: 9px;

}
.red{
    background-color: #cf0000;
    height: 27px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: 0;

}
.red a{
    color: #ffffff;
    display: block;
    font: bold 10px/27px Arial;
    text-align: center;
    text-decoration: none;
}

.more{
    background-color: #e4e4e4;
    float: right;
    height: 285px;
    padding:  0 0 20px;
    width: 250px;
    position: relative;
}


.vid{
    float: left;
    margin-right: 10px;
    background-image: url(../image/video.jpg);
    width: 67px;
    height: 56px;
}
.text_div{
    width: 150px;
    height: 55px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    float: left;
}
.text_div a{
    text-decoration: none;
    color: black;
}

.text_div a:hover{
    text-decoration:underline;
    color: black;
}

.news{
    padding: 7px;
    overflow: hidden;
}
.news p{

}
.around_word{
    float: left;
    padding: 10px 0 5px;
    width: 670px;
}
.from{
    float: left;
    width: 450px;
    padding-bottom: 30px;
  

}
.from h3{
    border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;
}
.desk{
    float: right;
    padding: 5px 0;
    width: 190px 
}
.desk h3{
    border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;

}
.desk_editorial{
/*    outline: 1px solid red;*/
    width: 190px;
    float: right;

}

.desk_border{
    border-bottom: 1px dotted #000;
    margin-top: 20px;
    padding-bottom: 20px;

}

.desk p{
    font-size: 12px;
    font-family: Arial;
    padding-bottom: 14px;
}
.w_man,.boy,.nig{
    float: left;
   padding: 5px 15px 10px 0;
    width: 140px;    
}
.nig.last_nig{
    padding-right: 0px;
}

.w_man,.boy,.nig p{
    font-size: 12px;
    font-family: Arial;
    line-height: normal;
}
.la{
    width: 450px;
    float: left;
    padding-bottom: 30px;
   
}
.m_f,.w_w,.m_w{
    float: left;
    padding: 5px 15px 5px 0;
    width: 140px;
}
.m_w.last_m{
    padding-right: 0px;
}

.m_f,.w_w,.m_w p{
    font-size: 12px;
    font-family: Arial;
    line-height: normal;
}

.la h3{
    border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;
}

.span{
    font-weight: bold;
    font-size: 12px;
}
#rm{
    font-size: 10px;
    color: #CF0000;
    font-weight: bold;
}
.rm a{
    text-decoration: none;
    color: #CF0000;
}
.rm a:hover{
    text-decoration: underline;
}

.gallery{
    float: left;
    padding-bottom: 30px;
    width: 450px;
}
.gallery img{
   margin: 7px 10px 7px 0;
}
.gallery h3{
    border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;
}

 .gallery img.last_in_gallery {
    margin-right: 0px;
}
.tech_news{
    float: left;
    padding: 5px;
    width: 450px;
}
.tech_news h3{
    border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;
 
   
}

.s1{
    float: left;
    font-size: 13px;
/*    height: 125px;*/
    padding: 15px 5px 0 0;
    width: 215px
}

.s1 span{
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    display: block;
}

.s2 p{
    padding-bottom: 15px;
    border-bottom: dotted;
    border-width: thin;
}

.s1 a{
    text-decoration: none;
    color: red;
    font-family: Arial;
}
.s1 a:hover{
    text-decoration:underline;
    color: red;
}

.editorial {
    float: left;
    font-family: Arial;
    margin-top: 40px;
    width: 180px;
}
.edit{
/*    outline: 1px solid red;*/
    width: 180px;
}
.pop{
/*    outline: 1px solid red;*/
    width: 250px;

}

.editorial h3{
   border-bottom: 2px solid #cf0000;
   font-weight: bold;
}
.editorial a{
    color: #CF0000;
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}
.editorial a:hover{
    text-decoration: underline;
}
.alberta_film{
    float: right;
    padding-bottom: 10px;
    width: 250px;
    padding-top: 20px;
    
}
.div_form{
    background-color: #e4e4e4;
    float: right;
    height: 210px;
    padding: 10px;
    width: 230px;
}
.div_form h4{
     color: #202021;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.div_form p{
    color: #202021;
    font-family: Arial;
    font-size: 13px;
    margin-top: 23px;
    padding-bottom: 15px;
    text-align: center;
}
.form_n input{
    color: #202021;
    height: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 5px;
    width: 200px
}
.form_n .button{
     background-color: #cf0000;
    color: #ffffff;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 100px;
}
.div_form #spam_p{
   color: #cf0000;
    font-size: 12px;
    padding-top: 0px
}
.popular{
    float: right;
    width: 250px;
}
.popular .popular_h3{
    border-bottom-color: #cf0000;
    color: #cf0000;
    float: left;
    font-family: Arial;
    font-weight: bold;
}
.popular .most_read{
     border-bottom: 2px solid #cf0000;
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    
}
.sept{
    font-style: italic;
    font-size: 10px;
    margin-bottom: 1px;
    padding-top: 10px;
}
.popular p{
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    font-family: Arial;
    padding-top: 10px;
}
.popular p span{
    color: #CF0000;
    font-size: 10px;
    font-family: Arial;
}



.a1{
    color: #CF0000;
    text-decoration: none;  
}
.popular a:hover{
    text-decoration:underline;
}
.save50{
    float: right;
    padding-top: 30px;
}
.popular50{
    float: right;
    padding-top: 10px;
    width: 250px;

}

.s3{
    padding-bottom: 15px;
    border-bottom: dotted;
    border-width: thin;
}
.baner{
  text-align: center;
   
}
.borderu{
    border-bottom: thin dotted;
    border-top: thin dotted;
    border-width: thin;
    float: left;
    height: 150px;
    width: 100%;
    padding-top: 45px;
    clear: both;
}
.footer{
   float: left;
    height: 130px;
    padding-top: 19px;
}
.footer li {
    border-right-style: solid;
    border-width: thin;
    float: left;
    font-family: Arial;
    font-size: 12px;
    padding-left: 22px;
    padding-right: 22px;
}

.footer li.last_li{
    border-right: none;
}

.footer p{
   font-family: Arial;
    font-size: 13px;
    line-height: 2;
    text-align: center;;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer ul{
    padding-bottom: 20px;

}

.aaa {
    background-color: #cf0000;
    color: #fff;
    float: right;
    font-family: Arial;
    font-size: 12px;
    height: 17px;
    text-align: center;
    width: 70px;
    text-decoration: none;
    line-height: 17px;
}

.aa1 {
    background-color: #cf0000;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: Arial;
    font-size: 12px;
    height: 17px;
    text-align: center;
    width: 70px;
    text-decoration: none;
    line-height: 17px;
}
.abc{
    background-color: #cf0000;
    color: #fff;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 70px;
    margin-top: 15px;
}


/*
/////////////////////////////////////////////Tablet
*/

@media screen and (max-width: 768px){
    
.wrapper {
    padding: 5px 10px;
    width: 748px;
}
    



.nav {
    float: left;
    height: 15px;
    margin-left: 173px;
    width: 315px;
}
.nav li{
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right-style: solid;
    border-width: thin;
    
}
.nav li:last-child{
    border: none;
}

.nav li a{
    text-decoration:none;
    font-size:12px;
    color:#CF0000;
    font-family: Arial;
}

.search {
    float: right;
    padding-right: 10px;
}

    
.menu {
    background-color: #121314;
    float: left;
    height: 40px;
    width: 738px;
}
    
    

.nav2 li {
    float: left;
    list-style-type: none;
}
    
.nav2 li a {
    color: #ffffff;
    font: bold 10px/40px Arial;
    text-decoration: none;
}
    
.main_div{
    width: 748px;
}
.breaking_news{
    width: 525px;
    height: auto;
}
.img_small {
    float: left;
    margin: 5px 35px 0 0; 
}
.img_small.last{
    margin-right: 0;
}

.more {
    float: left;
    height: 365px;
    overflow: hidden;
    padding-left: 11px;
    width: 182px;
}  
    
    

.news {
    float: left;
    overflow: hidden;
    padding: 3px;
}
    
    
.vid {
    background-image: url("../image/video.jpg");
    float: left;
    height: 56px;
    margin-right: 25px;
    width: 67px;
}
    
    
.text_div {
    float: left;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 33px;
    padding-top: 0;
    width: 149px;
}
    
    
    
    

.alberta_film {
    float: right;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 190px;
      padding-right: 10px;
}
 
    
.alberta_film img {
    width: 190px;
}
    





.div_form {
    background-color: #e4e4e4;
    float: right;
    height: 243px;
    margin-right: -194px;
    margin-top: 210px;
    padding: 13px;
    width: 167px;
}
    
.form_n input {

    width: 135px;
}
    
.popular50 {
    float: left;
    padding-top: 10px;
    width: 250px;
}
    
    
.popular {
    float: right;
    margin-right: -200px;
    width: 435px;
}
    
    
.save50 {
    margin-left: 486px;
    padding-top: 30px;
}
    
    
.borderu {
    border-width: thin;
    float: left;
    height: 150px;
    padding-left: 5px;
    padding-right: 110px;
    padding-top: 45px;
}
    
    
    
.popular {
    float: left;
    margin-right: -200px;
    width: 543px;
}
.footer ul {
    margin-left: 15px;
}
    
    .editorial {
    float: right;
    font-family: Arial;
    margin-top: -346px;
    width: 180px;
}
    
.desk {
    float: right;
    padding: 0;
    width: 190px;
}
    
    
.around_word {
    float: left;
    padding: 10px 0 5px;
    width: 738px;
}
    
.footer li {
    border-right-style: solid;
    border-width: thin;
    float: left;
    font-family: Arial;
    font-size: 13px;
    margin-right: 10px;
    padding-right: 10px;
}
    


.editorial {

    margin-top: 10px;

}


.pop {
/*    outline: 1px solid red;*/
    width: 543px;
}

.footer li {
    border-right-style: solid;
    border-width: thin;
    float: left;
    font-family: Arial;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
}

.w_man, .boy, .nig {
    float: left;
    padding: 5px 61px 10px 0;
    width: 140px;
}

.from {
/*    float: left;*/
/*    padding-bottom: 30px;*/
    width: 543px;
}

.m_f, .w_w, .m_w {
    float: left;
    padding: 5px 61px 5px 0;
    width: 140px;
}

.la {
/*    float: left;*/
/*    padding-bottom: 30px;*/
    width: 543px;
}
.gallery img {
    margin: 7px 57px 7px 0;
}
.gallery {
    float: left;
    padding-bottom: 30px;
    width: 543px;
}


.tech_news {
    float: left;
    padding: 5px;
    width: 537px;
}

.s1 {
    float: left;
    font-size: 13px;
    padding: 15px 50px 0 0;
    width: 215px;
}
}