
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ///////////////////////////////////////////////////////////////
*/


.header_bg{
/*    height: 190px;*/
/*    outline: 1px solid red; */
   
}
.header_bg1{
/*    height: 50px;*/
/*    outline: 1px solid red; */
    background-image: url(../image/footer_bg2.jpg);
   
}
.header_bg2{
    height: 17px;
/*    outline: 1px solid red; */
    background-image: url(../image/bg_h2.png);
    background-position: 0 -1px;
    position: relative;
    z-index: 1;
}
.header_bg3{
    height: 140px;
/*    outline: 1px solid red;*/
    background-image: url(../image/bg_h3.jpg);
    margin-top: -17px;
  
}
.content_bg{
/*    outline: 1px solid blue;*/
    height:1400px;
    background-image: url(../image/content_bg.jpg);
    margin-bottom: -17px;
  

}
.footer_bg{
/*    outline: 1px solid red;*/
    height:  270px;    

}
.footer_bg1{
/*    outline: 1px solid red;*/
    height: 17px;
    background-image: url(../image/footer_bg1.png);
    
}

.footer_bg2{
/*     outline: 1px solid red;*/
     height: 260px;
     background-image: url(../image/footer_bg2.jpg);
   
}
.wrapper_for_header1{
/*    outline: 1px solid red;*/
    width: 960px;
    height: 40px;
    margin: 0 auto;
    padding: 5px;

}

.for_phone{
/*    outline: 1px solid red;*/
    width: 170px;
    height: 40px;
    float: left;
    background-image: url(../image/trubka.png);
    background-repeat: no-repeat;
    background-position: left center;
    }
.for_phone p {
    color: #fff;
    float: right;
    font-size: 20px;
    margin-right: 15px;
   line-height: 40px;
}
.over100{
/*    outline: 1px solid red;*/
    width: 270px;
    height: 40px;
    float: left;
}
.over100 p{
    color: #adc0d8;
    font-size: 13px;
    line-height: 40px;

}
.social{
/*    outline: 1px solid red;*/
    width: 150px;
    height: 40px;
    float: left;
}

.social img {
    float: left;
    margin-left: 8px;
    margin-top: 5px;
}

.account{
/*    outline: 1px solid red;*/
    width: 70px;
    height: 40px;
    float: left;
}
.account p{
    color: #bacde4;
    font-size: 13px;
    line-height: 40px;
        
}

.shop{
/*    outline: 1px solid red;*/
    width: 140px;
    height: 40px;
    float: left;
}
.telega, .dollar{
    height: 30px;
    width: 70px;
    float: left;
    margin-top: 7px;
}
.telega{
    background-image: url(../image/shop.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
}
.dollar{
    background-color: transparent;
    background-image: url("../image/dollar.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

.wrapper_for_header1 > div{
    margin-right: 40px;
}
.wrapper_for_header1 > div.last{
    margin-right: 0px;

}
.wrapper_for_header3 {
/*    height: 120px;*/
    margin: 0 auto;
/*    outline: 1px solid red;*/
    padding-top: 18px;
    width: 970px;
}

.logo {
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
/*    height: 120px;*/
/*    outline: 1px solid red;*/
    width: 120px;
}

.wrapper_content{
/*    outline: 1px solid red;*/
    width: 970px;
    height: 1357px;
    margin: 0 auto;
    padding-top: 25px;

}
.wrapper_footer{
/*    outline: 1px solid red;*/
    width: 960px;
    height: 260px;
    margin: 0 auto;


}


.present {
    background: none repeat scroll 0 0 #ebe8b0;
    border-radius: 5px;
    height: 348px;
    padding: 5px;
/*    width: 960px;*/
}


.present-wr {
    border-radius: 5px;
    height: 336px;
    padding: 5px;
}
.present-wr img{
    border: 0 none;

}
.left_side{
    float: left;
/*    height: 974px;*/
/*    outline: 1px solid red;*/
    width: 230px;  

}

.right_side{
    float: right;
    height: 974px;
/*    outline: 1px solid #000;*/
    width: 720px;

}
.left_down{
    float: left;
    height: 376px;
/*    outline: 1px solid red;*/
    width: 230px;
    padding-top: 25px;
}

.sulka{
    float: left;
    height: 30px;
/*    outline: 1px solid red;*/
    width: 230px;

}
.reviews{
    float: left;
    height: 310px;
/*    outline: 1px solid red;*/
    width: 230px;

}

.zagolovok {
    background-image: url("../image/strelka.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #707070;
    float: left;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
/*    outline: 1px solid red;*/
    padding-left: 29px;
    width: 220px;
}

.main_products {
    background-color: #ebe8b0;
    border-radius: 5px;
    float: right;
    height: 245px;
/*    outline: 1px solid red;*/
    padding: 5px;
    width: 710px;
}

.main_products_w {
    background-color: #fff;
    border-radius: 5px;
    height: 225px;
    padding: 10px;
    width: 690px;
}


.popular_pro {
    float: right;
    height: 530px;
/*    outline: 1px solid red;*/
    width: 720px;
}

.products_dif {
   border-right: 1px solid #c2be67;
    float: left;
    height: 220px;
    margin-right: 16px;
    padding-right: 16px;
    width: 208px;
}
.product_dif_p{
/*    outline: 1px solid red;*/
    float: left;
    height: 110px;
    width: 208px;
}
.div_buy1{
    margin-bottom: 15px;
}


.products_dif a{
    text-decoration: none;
    color: #616161;
}
.products_dif a:hover{
    text-decoration:underline;
    color: #616161;
}

.products_dif img{
    padding-bottom: 20px;

}
.products_dif:last-of-type{
    border: 0 none;
    margin: 0px;
    padding: 0px;

}

.abzac{
    font-size: 13px;
    color: #616161;
    display: block;
    font-family: Arial;
     margin-bottom: 20px;
    
}
.price{
      color: #616161;
    font-family: Arial;
    font-size: 15px;
    display: block;
    padding-bottom: 15px;
}

.price2{
    color: #616161;
    color: #616161;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.products_dif a.by_now{
    background-image: url("../image/st1.png");
    background-position: 7px 4px;
    background-repeat: no-repeat;
    color: #fe6847;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    padding-left: 19px;

}
/*
.by_now a{
    text-decoration: none;
    color: #fe6847;

}
*/
.by_now a:hover{
    text-decoration:underline;
    color: #fe6847;

}
.cena{
    font-size: 15px;
    color: #228281;
    font-family: Arial;
    font-weight: bold;

}
.element {
    background-color: #ebe8b0;
    border-radius: 5px;
    float: right;
    height: 240px;
    margin: 10px 0 10px 13px;
/*    outline: 1px solid red;*/
    padding: 5px;
    width: 160px;   
}
.element.first {
    margin-left: 0;
}


.element_inside {
    background-color: #fff;
    border-radius: 5px;
    height: 240px;
    width: 160px;
    position: relative;
}

.element_inside img{
     padding-left: 2px;
    padding-bottom: 10px;
}

.element_inside input{
    background-color: transparent;
    background-image: url("../image/buy1.png");
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    margin: 12px 10px 10px;
    width: 58px;

}
.element_inside p {
   color: #000;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 0;
    padding-left: 10px;
}
.element_inside a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.element_inside a:hover {
    text-decoration:underline;
    color: #000;
}

.element_inside a{
    padding-left: 5px;  

}
.rev a{
    text-decoration: none;
    color: #707070;
}
.rev span.rug{
    color: #fe6847;
}
.rev a:hover{
    text-decoration:none;
    color: #fe6847;
}
.buy{
    padding-top: 10px

}
.like{
   background-image: url("../image/hart2.png");
    background-position: 40px center;
    background-repeat: no-repeat;
    float: right;
    margin-top: 13px;
    padding-right: 35px;

}

.like:hover{
    background-image: url(../image/hart.png);
    cursor: pointer;
}
.hart{
    bottom: 12px;
    position: absolute;
    right: 10px;


}
.pages {
     border-top: 2px solid #c2be67;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.pages a {
    color: #fe6847;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.pages a:hover {
    background-color: rgba(194, 190, 103, 0.53);
    border-radius: 5px;
    box-shadow: 0 2px 3px -1px #666 inset;

}

.rev {
    float: left;
    height: 80px;
/*    outline: 1px solid red;*/
    padding-top: 10px;
    width: 230px;
    border-bottom: 1px solid #c2be67;
    border-radius: 5px;
}
.rev:last-of-type {
    border-bottom: none;
}

.rev p{
    font-size: 12px;
    color: #707070;
    padding-top: 10px;
}
.rev span{
    color: #ababa7;
    font-style:italic;
    
}    

.kv{
    float: left;
    height: 55px;
    width: 55px;
/*    outline: 1px solid red;*/
    border: 5px solid #ebe8b0;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 15px;

}


.payments{
    float: left;
    height: 110px;
/*    outline: 1px solid red;*/
    width: 230px;
}

.osnov_menu{

    padding-top: 25px;

}

.kybiku{
/*    outline: 1px solid red;*/
    width: 230px;
    height: 70px;
    float: left;
}
.kybiku img{
    margin:0px;
    display: block;
}
.kybiku a{
    float: left;
    margin: 5px 5px 0px;

}


.categories {
/*    background-color: #ff5533;*/
/*    background-image: url(../image/categories.jpg);*/
    float: left;
    height: 445px;
/*    outline: 1px solid red;*/
    width: 220px;
    padding-top: 15px;
    background: #ebe8b0;
    border-radius: 5px;
   padding: 5px 5px 13px;
}
.cat-wr{
    background: #fff;
    border: 1px solid #d2cf99;
    height: 435px;
    border-radius: 5px;
    padding-top: 15px;
}

.cat-wr a{
    background-image: url("../image/st.png");
    background-position: 2px 4px;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 13px;
    padding-left: 15px;
     clear: both;
    float: left;
    text-decoration: none;
    color: #707070;
}

.cat-wr a:hover{
    text-decoration:none;
    color: #FE6847;
    background-image: url(../image/st1.png);


}

.cat-wr ul{
     padding-left: 80px;

}
.categories h3{
    height:37px;
    color: #fff;
    text-align: center;
    font-size:20px;
    background: url(../image/cat_h3.png) no-repeat 0 0;
     line-height: 30px;
    position: relative;
}
.categories h3:before{
    content: "";
    background: url(../image/cath3bef.png) no-repeat 0 0;
    display: block;
    height: 32px;
    width: 33px;
    position: absolute;
    left: -32px;
    top: 5px;
}



.center_menu {
    float: left;
    height: 120px;
    margin-left: 70px;
/*    outline: 1px solid red;*/
    position: relative;
    width: 640px;
}
.sign {
    float: right;
/*    height: 90px;*/
    margin-top: 30px;
/*    outline: 1px solid red;*/
    width: 90px;
}



.menu {
    float: left;
    height: 20px;
/*    outline: 1px solid red;*/
    padding-top: 10px;
    position: absolute;
    top: 30px;
    width: 640px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.menu a:hover{
    background-color: rgba(0, 155, 154, 0.53);
    border-bottom: 1px solid #6ce6e6;
    border-radius: 5px;
    box-shadow: 0 2px 3px -1px #666 inset;
}


.menu li {
    color: #fff;
    float: left;
    font-family: Arial;
    font-size: 13px;
    padding-left: 33px;
    font-weight: bold;
}
 .menu .first{
padding-left: 30px;
     
}
.menu .col a{
    color: #f8f5c6;
}

.search {
   background-image: url("../image/content_bg.jpg");
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #1a876d;
    bottom: -13px;
    float: left;
    height: 25px;
    left: 110px;
    padding: 10px;
    position: absolute;
    width: 407px;
}

.input_text {
   border: 1px solid #aca856;
    float: left;
    height: 18px;
    padding: 2px;
    width: 320px;
}

.button {
    background-color: transparent;
    background-image: url("../image/search.jpg");
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 81px;
}

.sign_clas{
     background-color: transparent;
    background-image: url("../image/sign.jpg");
    border: 0 none;
    height: 25px;
    width: 90px;
    cursor: pointer;
}
.register_clas{
     width: 90px;
     height: 25px;
    background-image: url(../image/register.jpg);
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
}

.cci{
/*    outline: 1px solid red;*/
    width: 185px;
    height: 200px;
    float: left;
    padding-top: 20px;
}

.cci h3{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    padding-bottom: 30px;
}

.cci li {
    color: #cfcfcf;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
}
.cci a{
    text-decoration: none;
    color: #cfcfcf;
}

.cci a:hover{
    text-decoration:underline;
     color: #cfcfcf;
}

.friends {
    float: left;
    height: 200px;
/*    outline: 1px solid red;*/
    padding-top: 20px;
    width: 230px;
}
.friends h3{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    padding-bottom: 30px;
}

.subscribe {
    float: left;
    height: 115px;
/*    outline: 1px solid red;*/
    width: 230px;
}
.subscribe p{
     color: #cfcfcf;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;

}
.subscribe h3{
    padding-bottom: 5px;
    padding-top: 5px;

}
.friends li {
    color: #cfcfcf;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
}

.txt {
    float: left;
    height: 17px;
    padding: 0 3px 0 2px
    width: 167px;
}
.btn {
     background-color: transparent;
    background-image: url("../image/sub.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 24px;
    margin-left: -4px;
    padding: 0;
    width: 57px;
}

.znachok {
    float: left;
    height: 220px;
/*    outline: 1px solid red;*/
    width: 170px;
    position: relative;
}
.img_znak{
     background-image: url("../image/secured.png");
    background-position: left center;
    background-repeat: no-repeat;
    width: 170px;

}

.img_znak2{
     background-image: url("../image/brown_box.png");
    background-position: left center;
    background-repeat: no-repeat;
    width: 170px;

}
.div_top {
/*    background-image: url("../image/red_st.png");*/
/*    background-position: center top;*/
/*    background-repeat: no-repeat;*/
/*
    height: 82px;
    padding-left: 5px;
    padding-top: 50px;
*/
    width: 30px;
     margin-left: 80px;
}

.znachok img {
    float: left;
    padding-bottom: 25px;
    padding-right: 2px;
    padding-top: 15px;
}
.znachok p {
      color: #cfcfcf;
    font-family: Arial;
    font-size: 13px;
    padding-bottom: 25px;
    padding-left: 57px;
    padding-top: 25px;
}

.red_st{
     bottom: 3px;
    position: absolute;
    right: 50px;

}
.top{
     bottom: -29px;
    position: absolute;
    right: 75px;
}
.last_p{
/*    outline: 1px solid red;*/
/*
    height: 40px;
    width: 570px;
*/
    float: left;

}
.last_p p{
    font-size:13px;
    font-family:Arial;
    color:#cfcfcf;

}
.last_p a{
     color:#cfcfcf;
    
}
.last_p a:hover{
    text-decoration: none;
}

.div_top a,.img_znak a,.img_znak2 a{
    text-decoration: none;
    color: #c2c5c9;
}
.div_top a{
   background-image: url("../image/red_st.png");
    background-repeat: no-repeat;
    display: block;
    height: 0;
    padding-top: 50px;
    text-align: center;

}
.div_top a:hover,.img_znak a:hover,.img_znak2 a:hover{
    text-decoration: underline;
    color: #c2c5c9;
}
.zag_plus_div{
    height: 285px;
    padding-bottom: 25px;
}

.zag_plus_div2{
    height: 545px;
    padding-bottom: 25px;
}