.site-header{
    background-color: black;
    height: 100px;

}
.logo{
    height: 100px;
    width: 200px;
}

.col-md-3 img{

    margin-left: 84px;
}
.col-md-3 h3{    
    text-align: center;
}
.col-md-3 p{

    text-align: center;
}

.col-md-4 h1{    
    text-align: center;
}
.col-md-4 img{
      margin-left: 250px;
  margin-top: 40px;

}
.right-line img{
    
  margin-left: -71px;
}


